.cardBeta {
  position: relative;
  width: 100%;
  background: #f00;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 40px;

  @media (min-width: 800px) {
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    min-width: 540px;
    border-radius: 16px;
    margin: 0;
    width: calc(50% - 20px);
  }

  h2 {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.04em;
    font-size: 28px;
    line-height: 1;

    a {
      color: #000;
      text-decoration: none;
    }

    span {
      display: block;
      text-transform: capitalize;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.2;
      margin-bottom: -6px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .card-details {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0.6em;
    letter-spacing: 0.03em;
  }
}
