@use "../mixins.scss" as mix;
.details {
  background: #fff;
  border-radius: 16px;
  @media (min-width: 1200px) {
    margin: 0;
  }
  h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #000;
    line-height: 1.1;
    font-size: 40px;
    margin-left: 16px;
    margin-right: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 0.9;
    @media (min-width: 1200px) {
      font-size: 60px;
    }
    span {
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      text-transform: none;
      display: block;
      position: relative;
      line-height: 1;
      margin-top: 0.1em;
      @media (min-width: 1200px) {
        font-size: 30px;
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
  .details-category {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.03em;
    @include mix.special-text;
  }
  .details-image {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    aspect-ratio: 5/3;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      box-sizing: border-box;
    }
  }
  .details-body {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    @media (min-width: 1200px) {
      flex-direction: row;
      padding-top: 16px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% + 32px);
      height: 8px;
      background: white;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      bottom: -4px;
      left: -16px;
    }
    .details-body-A,
    .details-body-B {
      box-sizing: border-box;
      @media (min-width: 1200px) {
        width: 50%;
      }
    }

    .details-body-A {
      order: 2;
      @media (min-width: 1200px) {
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        padding-right: 20px;
        padding-left: 4px;
        order: 1;
      }
    }

    .details-body-B {
      order: 1;
      @media (min-width: 1200px) {
        padding-left: 20px;
        padding-right: 4px;
        position: sticky;
        align-self: flex-start;
        top: 0px;
        order: 2;
      }
    }

    .details-body-A:not(.details-blog .details-body-A) {
      order: 2;
    }
  }

  .purchase-wrapper {
    position: relative;
    margin-bottom: 1em;
    @include mix.special-text;
    .category-books & {
      margin-bottom: 0;
    }
    a {
      color: #000;
      text-decoration: none !important;
    }
    &:last-child {
      margin-bottom: 1.5em;
    }
    .purchase {
      position: relative;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      height: 56px;
      align-items: center;

      // .company {
      //   padding-top: 1em;
      //   padding-bottom: 1em;
      // }
      .buy-now {
        margin-left: auto;
        height: 56px;
        display: flex;
        align-items: center;
        span {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          background: #387668;
          text-decoration: none;
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 6px;
          padding-bottom: 6px;
          border-radius: 10px;
        }
        .details-blog span & {
          background: #45627e;
        }
      }
      .category-books & {
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url(../icon-external-link.svg);
      }
    }
    .purchase-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .purchase-title-primary {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px 16px;
      padding-left: 26px;
      position: relative;
      margin-bottom: 0.1em;
    }

    .purchase-title-secondary {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.05em;
    }

    .purchase-title-paperback {
      background-image: url(../icon-paperback.svg);
      background-size: 18px 18px;
    }

    .purchase-title-eBook {
      background-image: url(../icon-tablet.svg);
      background-position: 2px center;
    }

    .purchase-title-audiobook {
      background-image: url(../icon-audio.svg);
      background-size: 18px 18px;
    }

    .purchase-title-courses {
      background-image: url(../icon-courses.svg);
      background-size: 22px 22px;
      padding-left: 28px;
    }

    .price {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      padding-right: 12px;
      margin-right: 10px;
      align-items: center;
      display: flex;
      max-height: 30px;
    }
  }

  .company {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    flex: 1;
    position: relative;
    min-height: 24px;

    &.amazon {
      background-image: url(../logo-amazon.svg);
      background-size: auto 80%;
    }

    &.blackwells {
      background-image: url(../logo-blackwells.svg);
      background-size: auto 70%;
    }

    &.waterstones {
      background-image: url(logo-waterstones.svg);
      background-size: auto 70%;
    }

    &.kindle {
      background-image: url(../logo-kindle.svg);
    }

    &.google-books {
      background-image: url(../logo-google-books.png);
      background-size: auto 80%;
    }

    &.kobo {
      background-image: url(../logo-kobo.svg);
    }

    &.apple-books {
      background-image: url(../logo-apple-books.png);
      background-size: auto 70%;
    }

    &.audible {
      background-image: url(../logo-audible.svg);
    }

    &.xigxag {
      background-image: url(../logo-xigxag.svg);
    }

    &.kajabi {
      background-image: url(../logo-kajabi.svg);
      background-size: auto 70%;
    }
  }
}

.details-books .details-category {
  border-top: 12px solid #dba940;
  color: #dba940;
}

.details-books {
  border-bottom: 16px solid #dba940;
}

// .card-books h2 {
//   border-top: 12px solid #dba940;
//   min-height: 88px;
// }

.details-webinars .details-category {
  border-top: 12px solid #8ebaaa;
  color: #8ebaaa;
}

.details-webinars {
  border-bottom: 16px solid #8ebaaa;
}

.details-courses .details-category {
  border-top: 12px solid #45627e;
  color: #45627e;
}

.details-courses {
  border-bottom: 16px solid #45627e;
}

.card-courses h2 {
  border-top: 12px solid #45627e;
}

.card-courses .card-details a {
  color: #45627e;
}

.details-blog {
  border-bottom: 16px solid #753d5c;
  .details-category {
    border-top: 12px solid #753d5c;
    color: #753d5c;
  }
  .purchase-wrapper {
    position: relative;
    margin-bottom: 1em;
    @include mix.special-text;
    a {
      color: #000;
      text-decoration: none !important;
    }
    &:last-child {
      margin-bottom: 1.5em;
    }
    .purchase {
      height: auto;
      // .company {
      //   padding-top: 1em;
      //   padding-bottom: 1em;
      // }
      .buy-now {
        margin-left: auto;
        height: 56px;
        display: flex;
        align-items: center;
        span {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          background: #387668;
          text-decoration: none;
          padding-left: 16px;
          padding-right: 16px;
          padding-top: 6px;
          padding-bottom: 6px;
          border-radius: 10px;
        }
        .details-blog span & {
          background: #45627e;
        }
      }
      .category-books & {
        background-size: 14px 14px;
        background-repeat: no-repeat;
        background-position: right center;
        background-image: url(../icon-external-link.svg);
      }
    }
    .purchase-title {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .purchase-title-primary {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px 16px;
      padding-left: 26px;
      position: relative;
      margin-bottom: 0.1em;
    }

    .purchase-title-secondary {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.05em;
    }

    .purchase-title-paperback {
      background-image: url(../icon-paperback.svg);
      background-size: 18px 18px;
    }

    .purchase-title-eBook {
      background-image: url(../icon-tablet.svg);
      background-position: 2px center;
    }

    .purchase-title-audiobook {
      background-image: url(../icon-audio.svg);
      background-size: 18px 18px;
    }

    .purchase-title-courses {
      background-image: url(../icon-courses.svg);
      background-size: 22px 22px;
      padding-left: 28px;
    }

    .price {
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      padding-right: 12px;
      margin-right: 10px;
      align-items: center;
      display: flex;
      max-height: 30px;
    }
  }
}

.details-media .details-category {
  border-top: 12px solid #000;
  color: #000;
}

.details-media {
  border-bottom: 16px solid #000;
}

.card-media h2 {
  border-top: 12px solid #000;
  min-height: 88px;
}

@media (min-width: 1200px) {
  .preview-quote {
    margin-top: 85px;
    margin-bottom: 50px;
    font-size: 46px;
    margin-top: 55px;
    margin-bottom: 20px;
  }

  .details .preview-quote-wrapper {
    margin-top: 60px;
    margin-bottom: 0px;
  }

  .details .preview-quote {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: left;
  }

  .details .preview-quote span::before {
    left: 0px;
    margin-left: 0px;
  }

  .details .preview-quote span {
    text-align: left;
  }

  .details .eventbrite {
    background-image: url(../logo-eventbrite.svg);
    background-size: auto 70%;
    padding-left: 104px;
  }

  .details .live-date,
  .details .sale-badge {
    right: -14px;
    @include mix.special-text;
  }
}
