.preview-quote-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  .details & {
    padding-left: 0px;
    padding-right: 0px;
  }
  .preview-quote {
    max-width: 800px;
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
    position: relative;
    &::before {
      content: "\201C";
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      font-family: serif;
      font-size: 2em;
      margin-top: -0.5em;
    }
    span {
      display: block;
      font-size: 16px;
      text-transform: capitalize;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 20px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 140px;
        height: 1px;
        background: #000;
        top: 0;
        left: 50%;
        margin-left: -70px;
        margin-top: -10px;
      }
    }
  }
}
