@use "../mixins.scss" as mix;
.top-trigger {
  height: 100vh;
  top: 0;
  position: absolute;
  right: 0;
  a {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #d56c8d;
    border: 3px solid #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    bottom: 14px;
    right: 8px;
    text-decoration: none;
    box-sizing: border-box;
    padding-top: 20px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center 12px;
    background-image: url(icon-top.svg);
    z-index: 11;
    @include mix.special-text;
    @media (min-width: 1200px) {
      bottom: 20px;
      right: 20px;
    }
  }
  &.top-button-active a {
    opacity: 1;
    pointer-events: auto;
  }
}
