#menu ul.drop-menu.webinar-dropdown {
  min-width: 415px;
  padding: 8px 16px;
  text-align: left;
  @media (max-width: 1200px) {
    padding: 0 0 0 20px;
    min-width: unset;
    width: 100%;
  }
  > li {
    padding: 0;
    width: 100%;
    @media (min-width: 1200px) {
      line-height: unset;
    }
    h5 {
      width: 100%;
      @media (max-width: 1200px) {
        box-sizing: border-box;
        margin-left: 28px;
        margin-bottom: 16px;
        padding-bottom: 8px;
      }
    }
  }
  .webinars-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    li {
      background-color: #d3e4e0;
      border-radius: 6px;
      padding: 0;
      border-bottom: 1px solid #ddd;
      width: 100%;
      margin-bottom: 12px;

      .webinar-card {
        display: flex;
        background: #fff;
        border-radius: 12px;
        overflow: hidden;
        max-width: 415px;
        height: 124px; /* Fixed height ensures the square ratio */
        text-align: left;
        border-radius: 6px;
        background-color: #d3e3e0;
        .webinar-img-wrapper {
          flex: 0 0 125px;
          border-radius: 0;
          > img {
            padding: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px 0 0 6px;
          }
        }
        .webinar-content {
          display: flex;
          flex-direction: column;
          flex: 1; /* Fills remaining space */
          padding: 6px 6px 6px 16px;
          align-items: flex-start;
          justify-content: center;
          h5 {
            margin: 0 0 8px 0;
            font-size: 0.875rem;
            line-height: normal;
            font-weight: 400;
            padding: 0;
            border-bottom: none;
          }
          p {
            font-family: Open Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
          }
          a {
            transition: transform 0.2s;
            display: flex;
            align-self: end;
            text-align: right;
            position: absolute;
            bottom: 0;
            transition: transform 0.2s;
            right: 0;
            @media (max-width: 1200px) {
              position: relative;
              bottom: unset;
              right: unset;
            }
            &:hover {
              transform: scale(1.025);
            }
            img {
              margin-top: 0;
              padding: 0 6px;
              width: 16px;
              height: 16px;
              margin-left: auto;
              position: relative;
            }
          }
        }
      }
    }
  }
}
