#menu {
  display: none;
  position: fixed;
  background: grey;
  width: 100%;
  height: calc(100vh - 67px);
  top: 67px;
  left: 0;
  z-index: 100;
  background: #f7f6f5;

  @media (max-width: 1200px) {
    ul {
      list-style: none;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      width: 100%;
      a {
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        padding-bottom: 0.7em;
        padding-top: 0.7em;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        &:last-child {
          border-bottom: none;
        }
        &.active {
          color: #d56c8d;
        }
      }
    }
    .menu-open & {
      display: flex;
    }
  }
  @media (min-width: 1200px) {
    display: block;
    position: relative;
    background: none;
    height: auto;
    top: auto;
    left: auto;
    backdrop-filter: none;
  }
}

nav {
  position: relative;
  display: flex;
  @media (max-width: 1200px) {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 1200px) {
    display: block;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid black;
    position: relative;
    display: block;
    height: 54px;
    z-index: 10;

    ul::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -16px;
      left: -20px;
      height: 16px;
      width: 20px;
      z-index: 10;
      border-top: 4px solid black;
      border-left: 4px solid black;
      border-top-left-radius: 20px;
      box-sizing: border-box;
    }

    ul::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -16px;
      right: -20px;
      height: 16px;
      width: 20px;
      z-index: 10;
      border-top: 4px solid black;
      border-right: 4px solid black;
      border-top-right-radius: 20px;
      box-sizing: border-box;
    }

    ul {
      padding-left: 20px;
    }

    li {
      display: flex;
      position: relative;
      transition: transform 0.3s;
      box-sizing: border-box;
      height: 50px;
      align-items: center;
    }

    ul a,
    .page-title h1 {
      text-decoration: none;
      color: black;
      padding-left: 16px;
      padding-right: 16px;
      display: inline-block;
      position: relative;
      transition: transform ease-in 0.3s;
      height: 50px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    ul a.active,
    .page-title a {
      height: 28px;
    }

    a:not(.active):hover li {
      transform: translateY(-4px);
    }

    .active li::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -4px;
      left: -40px;
      height: 4px;
      width: calc(100% + 80px);
      z-index: 10;
      box-sizing: border-box;
      background: #f7f6f5;
    }

    /* Category Colour Variations */

    .category-courses & {
      border-color: #45627e;
      border-width: 0 0 4px 0;
      ul::before {
        border-width: 4px 0 4px 4px;
        border-color: #45627e;
      }
      ul::after {
        border-width: 4px 4px 0 0;
        border-color: #45627e;
      }
      .active,
      .page-title a {
        border-width: 4px 4px 0 4px;
        border-color: #45627e;
        &::before {
          border-width: 0 4px 4px 0;
          border-color: #45627e;
        }
        &::after {
          border-width: 0 0 4px 4px;
          border-color: #45627e;
        }
      }
    }

    .category-books & {
      border-color: #dba940;
      border-width: 0 0 4px 0;
      ul::before {
        border-width: 4px 0 4px 4px;
        border-color: #dba940;
      }
      ul::after {
        border-width: 4px 4px 0 0;
        border-color: #dba940;
      }
      .active,
      .page-title a {
        border-width: 4px 4px 0 4px;
        border-color: #dba940;
        &::before {
          border-width: 0 4px 4px 0;
          border-color: #dba940;
        }
        &::after {
          border-width: 0 0 4px 4px;
          border-color: #dba940;
        }
      }
    }

    .category-blog & {
      border-color: #753d5c;
      border-width: 0 0 4px 0;
      ul::before {
        border-width: 4px 0 4px 4px;
        border-color: #753d5c;
      }
      ul::after {
        border-width: 4px 4px 0 0;
        border-color: #753d5c;
      }
      .active,
      .page-title a {
        border-width: 4px 4px 0 4px;
        border-color: #753d5c;
        &::before {
          border-width: 0 4px 4px 0;
          border-color: #753d5c;
        }
        &::after {
          border-width: 0 0 4px 4px;
          border-color: #753d5c;
        }
      }
    }

    .category-webinars & {
      border-color: #8ebaaa;
      border-width: 0 0 4px 0;
      ul::before {
        border-width: 4px 0 4px 4px;
        border-color: #8ebaaa;
      }
      ul::after {
        border-width: 4px 4px 0 0;
        border-color: #8ebaaa;
      }
      .active,
      .page-title a {
        border-width: 4px 4px 0 4px;
        border-color: #8ebaaa;
        &::before {
          border-width: 0 4px 4px 0;
          border-color: #8ebaaa;
        }
        &::after {
          border-width: 0 0 4px 4px;
          border-color: #8ebaaa;
        }
      }
    }
  }
}
