* {
  margin: 0;
  padding: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #f7f6f5;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  color: #000;
  line-height: 1.1;
}

.card-details,
.card-meta,
.card-buttons,
.live-date {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 70px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.card {
  position: relative;
  min-width: 540px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.card h2 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.04em;
  font-size: 32px;
}

.card h2 a {
  color: #000;
  text-decoration: none;
}

.card-webinar h2 {
  border-top: 34px solid #4281a4;
  padding-right: 60px;
}

.card-courses h2 {
  border-top: 34px solid #548278;
}

.card img {
  width: calc(100% - 32px);
  margin-left: 16px;
  margin-right: 16px;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.card-details {
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0.6em;
  letter-spacing: 0.03em;
}

.card-details a,
.card-details span {
  position: relative;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.card-webinar .card-details a {
  color: #4281a4;
}

.card-courses .card-details a {
  color: #548278;
}

.card .card-details a {
  text-decoration: none;
}

.card p {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 1.3em;
}

.card-meta {
  margin-left: 16px;
  margin-right: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 0.7em;
  padding-bottom: 1em;
  margin-top: auto;
}

.card-meta span {
  display: block;
  padding-left: 30px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.contributors {
  background-image: url(../images/icon-contributors.svg);
}

.tags {
  background-image: url(../images/icon-tags.svg);
}

.card-meta a {
  text-decoration: none;
  color: #000;
}

.card-meta a:hover {
  text-decoration: underline;
}

.card-buttons {
  display: flex;
  letter-spacing: 0.03em;
}

.card-buttons a {
  display: inline-block;
  flex: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 12px;
  text-transform: uppercase;
  transition: 0.3s;
}

.card-buttons a:hover {
  background: #9a8c98;
}

.card-buttons a:first-child {
  border-bottom-left-radius: 16px;
  border-right: 1px solid #fff;
}

.card-buttons a:last-child {
  border-bottom-right-radius: 16px;
  border-left: 1px solid #fff;
}

.live-date {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #000;
  border: 3px solid #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.live-day {
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
}

.live-month {
  line-height: 22px;
}
