---
const { active } = Astro.props;
---

<!-- Awaiting prop assignment ahead of full-component rendering -->
<li class="has-dropdown">
  <a
    href="/courses"
    class={`desktop-item  ${active === "courses" ? "active" : "inactive"}`}
  >
    On-demand Courses</a
  >
  <input type="checkbox" id="showMega" />
  <label
    for="showMega"
    class={`nav-dropdown mobile-item ${active === "courses" ? "active" : "inactive"}`}
    >On-demand Courses</label
  >

  <div class="mega-box">
    <div class="content">
      <h1 class="desktop-item">COURSE TOPICS</h1>

      <div class="row">
        <header><a href="#">Autism</a></header>
      </div>
      <div class="row">
        <header><a href="#">Demand Avoidance</a></header>
      </div>
      <div class="row">
        <header><a href="#">School and Education</a></header>
        <ul class="mega-links">
          <li><a href="#">At School</a></li>
          <li><a href="#">Not at School</a></li>
          <li><a href="#">SEN</a></li>
          <li><a href="#">EHCPs</a></li>
        </ul>
      </div>
      <div class="row">
        <header><a href="#">Mental Health and Behaviour</a></header>
        <ul class="mega-links">
          <li><a href="#">Anxiety</a></li>
          <li><a href="#">Burnout</a></li>
          <li><a href="#">Trauma</a></li>
          <li><a href="#">OCD</a></li>
          <li><a href="#">Screens</a></li>
        </ul>
      </div>
      <div class="home-link-row">
        <a
          href="/courses"
          class={`category-home-link ${active === "courses" ? "active" : "inactive"}`}
        >
          View all Courses
        </a>
      </div>
    </div>
  </div>
</li>
