---
import '../../styles/components/card.scss';
---

<div class="cardBeta  free-card">

  <h2><a href="/tags/autism">Autism</a></h2>
  <div class="card-detailsBeta">

    <ul>
      <li>Helping your child with anxiety, anger and change</li>
      <li>Support with school</li>
      <li>Why I don't tell children they don't have differently wired brains</li>
    </ul>

  </div>

  <div class="card-buttonsBeta">
    <a href="/tags/autism">Find Out More</a>
  </div>
</div>
<style>
    h2 {
        border-color: #753d5c;
    }

</style>
