---
import '../../styles/components/card.scss';
---
<div class="cardBeta free-card">

  <h2>
    <a href="/tags/demand-avoidance">Demand Avoidance</a></h2>

  <div class="card-detailsBeta bg-amber-600">


    <ul>
      <li>Why does pressure make things worse?</li>
      <li>Why some children need to say NO before they can say YES</li>
      <li>Helping your child with anxiety and change</li>
    </ul>

  </div>

  <div class="card-buttonsBeta">
    <a href="/tags/demand-avoidance">Find Out More</a>
  </div>
</div>
<style>
    h2 {
        border-color: #753d5c;
    }

</style>