---
import "../../styles/components/card.scss";
---

<div class="card card-blog free-card">
  <h2><a href="/tags/mental-health">Mental Health and Behaviour</a></h2>

  <div class="card-details">
    <ul>
      <li>Understand anxiety, OCD and trauma</li>
      <li>Developing a good relationship with screens</li>
      <li>Why teens are different</li>
    </ul>
  </div>

  <div class="card-buttons">
    <a href="/tags/mental-health">Find Out More</a>
  </div>
</div>
