---
import BaseLayout from "../layouts/BaseLayout.astro";
import StaticImage from "../components/StaticImage.astro";
import naomiImage from "../images/static/1080w/naomi-resting-on-stable-door.webp";
import abiImage from "../images/static/dr-abigail-fisher.png";

const metaDescription =
  "About Dr Naomi Fisher and Dr Abigail Fisher, where they studied and their professional careers.";
---

<BaseLayout active="about" pageTitle="About" metaDescription={metaDescription}>
  <a name="dr-naomi-fisher" class="anchor">
    <h2 class="section-title">
      <span class="person-section-title">Dr Naomi Fisher</span>
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={naomiImage} alt="Dr. Naomi Fisher" />
    </div>
    <div class="page-intro-text">
      <p>
        <strong>Dr Naomi Fisher</strong> is a clinical psychologist, author and EMDR-Europe
        Accredited trainer. She specialises in trauma, autism and alternative ways
        to learn.
      </p>
      <p>
        She has a doctorate in clinical psychology from Kings College London
        (Maudsley), a PhD in developmental cognitive psychology also from Kings
        College (IoPPN), and a degree in Experimental Psychology from the
        University of Cambridge.
      </p>
      <p>
        Naomi is registered with the Health and Care Professionals Council
        (HCPC) as a clinical psychologist and is accredited by EMDR-Europe as an
        EMDR consultant and trainer.
      </p>

      <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Read More</button>
        <div class="panel">
          <p>
            Whilst in the NHS, Naomi worked in primary care and specialist
            trauma services in London, as well as neurodevelopmental services.
            She has worked for the Metropolitan Police and third sector
            organisations. She now works in private practice with adults,
            adolescents and children. She runs self-help webinars for parents on
            how to help their children with common mental health difficulties.
          </p>
          <p>
            Naomi is the author of several books on psychology, mental health
            and alternative education. She speaks regularly at conferences and
            events on topics such as trauma, neurodiversity, alternative ways to
            learn and low demand parenting.
          </p>
          <p>
            Naomi has been using EMDR therapy since 2005 and has been
            supervising EMDR therapists since 2012. She has published research
            on how EMDR is used with autistic people and how EMDR works online.
            She became an EMDR-Europe Accredited Trainer in 2023.
          </p>

          <p>
            Whilst I was growing up, I went to eleven different schools in four
            countries on two continents. I discovered that they do not all work
            in the same way, and in fact, something which one school might
            regard as completely essential, another school would see as trivial
            or insignificant.
          </p>
          <p>
            This experience left me with an urge to question everything which
            has never stopped. I am always asking Does it have to be this way?
            and if the answer is Yes it does, then the question is Why?
          </p>
          <p>
            I’ve carried that into my career and work. I went to university
            intending to be a doctor. I had a place to study medicine and I put
            in two years of hard slog learning anatomy, physiology and
            biochemistry. Then I had the chance to do an intercalated year in
            Experimental Psychology. I quickly discovered that I found
            psychology much more interesting than medicine and haven’t looked
            back. I left medicine and went to do a PhD in developmental
            cognitive psychology (autism) at the Social, Genetic and
            Developmental Psychiatry Research Centre at the Institute of
            Psychiatry, Psychology and Neuroscience (IoPPN), Kings College
            London. Next I did a doctorate in clinical psychology, also at Kings
            College. There, I learnt how to apply psychological theory and
            therapy to help people with their mental health.
          </p>
          <p>
            When I completed my doctorate, I went to work in the NHS. I worked
            in primary care in Lewisham initially and then in specialist trauma
            services in London. I specialised in EMDR, a form of trauma therapy.
            I worked for the Metropolitan Police for a while. I then had my own
            children and went off on another path, that of alternative
            education.
          </p>
          <p>
            As I saw my children learning, I kept thinking about the psychology
            I had learnt – and thinking about how the way in which many schools
            thought about learning wasn’t how a developmental psychologist
            thought about learning at all. Whilst my children did sports
            classes, I would swim up and down and try to make sense of what I
            was seeing. Those hours of thinking lead to my first book Changing
            Our Minds, published in 2021, and then the second one, A Different
            Way to Learn, published in 2023. Both are about how children can
            learn in ways which are quite different to learning at school.
          </p>
          <p>
            Our choices around our children’s education led us to many different
            places (literally, we moved to France for a while and then to Hove
            and Devon), and I started to work remotely as a result. I now work
            remotely with parents and young people, as well as supervising EMDR
            therapists. I run webinars for parents and EMDR training for
            professionals. And I am in the process of writing several more
            books.
          </p>
        </div>
      </div>
    </div>
  </div>

  <a name="dr-abigail-fisher" class="anchor">
    <h2 class="section-title">
      <span class="person-section-title">Dr Abigail fisher</span>
    </h2>
  </a>

  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={abiImage} alt="Dr. Abigail Fisher" />
    </div>
    <div class="page-intro-text">
      <p>
        <strong>Dr Abigail Fisher</strong> is an educational psychologist, qualified
        teacher and forthcoming author. She has a doctorate in educational psychology
        from the University of Bristol and a Postgraduate Diploma in Psychology from
        the Open University. She is a qualified teacher and taught for 4 years, in
        inner London and Malawi and has a Postgraduate Certificate of Education from
        University of East Anglia. She has completed EMDR training with adults and
        children, although she is not currently practising as an EMDR therapist.
        She has just co-authored <em>When School’s Not Working</em> with Naomi Fisher
        and Eliza Fricker. As well as her career in psychology, she also has a strong
        interest in the creative arts. Her first degree was in Music from the University
        of York and she has also completed a Foundation Diploma in Art and Design.
      </p>

      <div class="accordion-wrapper">
        <button class="accordion no-title-accordion">Read More</button>
        <div class="panel">
          <p>
            After working as a teacher, Abigail worked in local authorities in
            southern England for 8 years and now works independently with
            children and adolescents. Her forthcoming book <em
              >The Essential EHCP Guide for Parents and Carers</em
            > will be published by Jessica Kingsley in 2025. She has special interests
            in helping parents navigate complex and confusing SEN processes, through
            providing clear, digestible information, and sharing experiences. She
            is also particularly interested in supporting parents to look after themselves
            so they can better care for their families. She currently runs two webinar
            series, one focusing on SEN and EHCP processes, and the other focusing
            on parent wellbeing.
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
