---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="about-us" pageTitle="About Us">
  <div class="wrapper">
    <div>
      <h1>About Us</h1>
      <p>
        Naomi Fisher Psychology Ltd is a company registered in England and Wales
        with company number 13351132.
      </p>

      <p>
        We provide clinical and educational psychology services and produce
        resources for parents, children and professionals through our live
        webinars, courses and books.
      </p>
    </div>

    <div>

      <h2>Dr Naomi Fisher</h2>

      Naomi is a clinical psychologist, author and EMDR-Europe
      Accredited trainer. She specialises in trauma, autism and alternative ways
      to learn. She has a doctorate in clinical psychology from Kings College
      London (Maudsley), a PhD in developmental cognitive psychology (autism)
      also from Kings College (IoPN), and a degree in Experimental Psychology
      from the University of Cambridge. In the NHS, she worked in primary care
      and specialist trauma services in London, as well as neurodevelopmental
      services. She has worked for the Metropolitan Police and third sector
      organisations. She now works in private practice with adults, adolescents
      and children. She runs self-help webinars for parents on how to help their
      children with common mental health difficulties. Naomi is the author of
      several books on psychology, mental health and alternative education. She
      speaks regularly at conferences and events on topics such as trauma,
      neurodiversity, alternative ways to learn and low demand parenting. Naomi
      has been using EMDR therapy since 2005 and has been supervising EMDR
      therapists since 2012. She has published research on how EMDR is used with
      autistic people and how EMDR works online. She has been facilitating on
      EMDR training courses since 2017 and became an accredited EMDR-Europe
      trainer in 2023. She is now running basic EMDR training, online EMDR
      Refresher Days and specialist training on trauma and neurodiversity.
      <a href="/about-us/dr-naomi-fisher">Read more about Naomi.</a>

      <h2>Dr Abigail Fisher</h2>
      <a href="/about-us/dr-abigail-fisher">Abigail</a> is an educational psychologist.
    </div>
  </div>
</BaseLayout>
