---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BookSummary from "../components/BookSummary.astro";

const pageTitle = "Books";

const books = await getCollection("books");
 
---

<BaseLayout active="books" pageTitle={pageTitle}>
  <div class="wrapper">
   
  {books.map((book) => (
    <BookSummary book = {book.data}></BookSummary>
  ))}

  </div>
</BaseLayout>
