---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Privacy Policy">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">
      Thank you for signing up to Naomi's mailing list. Please check your email
      to confirm your subscription.
    </div>
  </div></BaseLayout
>
