---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="consultation" pageTitle="Consultation">
  <div class="wrapper">
    <h1>Consultation blurb</h1>
  </div>
</BaseLayout>
