---
import BaseLayout from "../layouts/BaseLayout.astro";
import StaticImage from "../components/StaticImage.astro";
import naomiImage from "../images/static/dr-naomi-fisher.png";
import Newsletter from "../components/Newsletter.astro";

const metaDescription =
  "How to contact Dr Naomi Fisher and Dr Abigail Fisher for media or press enquiries, technical support for courses and webinars or general enquiries.";
---

<BaseLayout
  active="contact"
  pageTitle="Contact"
  metaDescription={metaDescription}
>
  <div class="page-intro-wrapper">
    <div class="page-intro-text">
      <h3>General enquiries</h3>
      <p>
        To contact us, or for technical support, email <a
          href="mailto:support@naomifisher.co.uk">support@naomifisher.co.uk</a
        >
      </p>
      <p>
        <em
          >Please note that Naomi is currently unable to take on any new clients
          or supervisees.</em
        >
      </p>
      <h3>Press and media enquiries</h3>
      <p>
        If you are a journalist or broadcaster, you can email <a
          href="mailto:media@naomifisher.co.uk">media@naomifisher.co.uk</a
        >
      </p>
    </div>
    <div class="page-intro-text">
      <h3>Webinars FAQ</h3>
      <div class="accordion-wrapper">
        <button class="accordion"
          >What is a webinar?</button
        >
        <div class="panel">
          <p>
            Webinar are live online events. We host them on Zoom and they are recorded if you can't make the time.
          </p>
        </div>
        <button class="accordion">Are webinars recorded?</button>
        <div class="panel">
          <p>
            Yes, if you choose the webinar + recording ticket, you will get sent
            a link to the recording. You can watch the recording for 30 days
            after the webinar.
          </p>
        </div>
        <button class="accordion"
          >How long are webinar recordings available for?</button
        >
        <div class="panel">
          <p>They are available for 30 days after the webinar.</p>
        </div>
      </div>

      <h3>Courses FAQ</h3>
      <div class="accordion-wrapper">
        <button class="accordion">What is a course?</button
        >
        <div class="panel">
          <p>
           Our courses are a series of pre-recorded videos that you watch in your own time. They are available to watch for 12 months after purchase.
          </p>
        </div>

        <button class="accordion">How do I find a course?</button
        >
        <div class="panel">
          <p>
            <a href="/courses"
            >Browse our courses</a
            > to see which ones are of interest.
          </p>
        </div>

        <button class="accordion">How do I watch courses I've purchased?</button
        >

        <div class="panel">
          <p>
            <a href="https://courses.naomifisher.co.uk/login"
              >Login to our courses website</a
            > to watch your courses.
          </p>
        </div>
        <button class="accordion"
          >How long are courses available to watch for?</button
        >
        <div class="panel">
          <p>They are now available to watch for 12 months after purchase.</p>
        </div>
      </div>
    </div>
  </div>

  <Newsletter />
</BaseLayout>
