---
import BaseLayout from "../layouts/BaseLayout.astro";
import StaticImage from "../components/StaticImage.astro";
import naomiImage from "../images/static/dr-naomi-fisher.png";
---

<script src="../scripts/accordion.js"></script>

<BaseLayout active="contact" pageTitle="Contact">
  <div class="page-intro-wrapper">
   
    <div class="page-intro-text">
      <h3>Press</h3>
      <p>
        For press and broadcast enquiries email <a
          href="mailto:press@naomifisher.co.uk">press@naomifisher.co.uk</a
        >
      </p>
      <h3>Support</h3>
      <p>
        To contact Naomi or Abigail, or for technical support on courses or
        webinars, email <a href="mailto:support@naomifisher.co.uk"
          >support@naomifisher.co.uk</a
        >
      </p>
      <p>
        <em
          >Please note that Naomi is currently unable to take on any new clients
          or supervisees.</em
        >
      </p>

      <h3>Frequently Asked Questions</h3>
      <div class="accordion-wrapper">
        <button class="accordion"
          >Why can't I buy a webinar ticket on Eventbrite?</button
        >
        <div class="panel">
          <p>
            If you can't see a button to buy a ticket, it might be because
            you're using the Eventbrite iPhone app which you can't use for
            buying tickets. Please use a web browser to purchase tickets
          </p>
        </div>
        <button class="accordion">Are webinars recorded?</button>
        <div class="panel">
          <p>
            Yes, if you choose the webinar + recording ticket, you will get sent
            a link to the recording. You can watch the recording for 30 days
            after the webinar.
          </p>
        </div>
        <button class="accordion"
          >How long are webinar recordings available for?</button
        >
        <div class="panel">
          <p>They are available for 30 days after the webinar.</p>
        </div>
        <button class="accordion"
          >How long are your courses available to watch for?</button
        >
        <div class="panel">
          <p>They are now available to watch for 12 months after purchase.</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
