---
import {
  getCoursesWithTagWithoutOtherTags,
  getFeaturedCourses,
  getLatestCourses,
} from "../scripts/courses";
import BaseLayout from "../layouts/BaseLayout.astro";
import CoursesList from "../components/course/CoursesList.astro";

import StaticImage from "../components/StaticImage.astro";
import image from "../images/static/naomi-in-stables.jpg";

const featuredCourses1 = await getFeaturedCourses(0, 4);
const featuredCourses2 = await getFeaturedCourses(2, 4);

const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's courses on helping autistic children with anxiety, screen time, PDA and Demand Avoidance, burnout, What Neurodiversity is, problems at school and EHCP and professional courses on EMDR";
---

<BaseLayout
  active="courses"
  pageTitle="Courses"
  metaDescription={metaDescription}
>
  <div class="info-section-wrapper">
    <div class="info-text">
      <p>
        We created our pre-recorded video courses when we discovered families
        were finding it hard to access high quality, affordable psychological
        information which addressed their children’s needs.
      </p>
      <p>They are divided into manageable modules.</p>
      <p>
        You or your child can watch them in your own time for 12 months after
        purchase.
      </p>
    </div>

    <div class="info-links">
      <h3>CATEGORIES</h3>
      <a href="/courses/categories/anxiety" class="filter-courses"> Anxiety </a>
      <a href="/courses/categories/autism" class="filter-courses"> Autism </a>
      <a href="/courses/categories/burnout" class="filter-courses"> Burnout </a>
      <a href="/courses/categories/demand-avoidance" class="filter-courses">
        Demand Avoidance
      </a>

      <a href="/courses/categories/ehcps" class="filter-courses"> EHCPs </a>

      <a href="/courses/categories/low-demand-parenting" class="filter-courses">
        Low Demand Parenting
      </a>

      <a href="/courses/categories/professionals" class="filter-courses">
        for Professionals
      </a>

      <a href="/courses/categories/school" class="filter-courses"> School </a>
      <a href="/courses/categories/sen" class="filter-courses"> SEN </a>

      <a href="/courses/categories/teens" class="filter-courses">for Teens </a>
    </div>
  </div>

  <!--<div class="page-intro-wrapper">-->
  <!--  <div class="page-intro-static-image">-->
  <!--    <StaticImage image={image} alt="Collage of all courses" />-->
  <!--  </div>-->
  <!--  <h2 class="feature-headline">-->
  <!--    FEATURE HEADLINE-->
  <!--  </h2>-->
  <!--  <div class="page-intro-text"></div>-->
  <!--</div>-->

  <h2 class="section-title">
    <span class="courses-section-title">Featured</span>
  </h2>
  <CoursesList
    courses={featuredCourses1}
    categoryId="featured"
    categoryName="Featured Courses"
  />
</BaseLayout>
