---
import {
  getCoursesWithTagWithoutOtherTags, getFeaturedCourses,
  getLatestCourses,
} from "../scripts/courses";
import BaseLayout from "../layouts/BaseLayout.astro";
import CoursesList from "../components/course/CoursesList.astro";

import StaticImage from "../components/StaticImage.astro";
import image from "../images/static/naomi-in-stables.jpg";

const featuredCourses1 = await getFeaturedCourses(0, 2);
const featuredCourses2 = await getFeaturedCourses(2, 4);

const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's courses on helping autistic children with anxiety, screen time, PDA and Demand Avoidance, burnout, What Neurodiversity is, problems at school and EHCP and professional courses on EMDR";
---

<BaseLayout
  active="courses"
  pageTitle="Courses"
  metaDescription={metaDescription}
>
  <div class="info-section-wrapper">
    <div class="info-text">
      <p>
        Our courses are pre-recorded videos that you or your child watch in your own time.
        They are divided into manageable modules.
      </p>

      <p>
        They combine psychological theory with practical ideas from clinical
        practice.
      </p>

      <p>
        You can watch them for 12 months after purchase.
      </p>
    </div>

    <div class="info-links">
      <h3>Categories</h3>
      <a href="/courses/categories/autism" class="filter-courses"> Autism </a>
      <a href="/courses/categories/demand-avoidance" class="filter-courses"> Demand Avoidance </a>

      <a href="/courses/categories/anxiety" class="filter-courses"> Anxiety </a>
      <a href="/courses/categories/burnout" class="filter-courses"> Burnout </a>

      <a href="/courses/categories/school" class="filter-courses"> School </a>
      <a href="/courses/categories/ehcps" class="filter-courses"> EHCPs </a>
      <a href="/courses/categories/sen" class="filter-courses"> SEN </a>

      <a href="/courses/categories/low-demand-parenting" class="filter-courses">
        Low Demand Parenting
      </a>
      <a href="/courses/categories/teens" class="filter-courses"> For Teens </a>
      <a href="/courses/categories/professionals" class="filter-courses">
        For Professionals
      </a>
    </div>
  </div>

  <!--<div class="page-intro-wrapper">-->
  <!--  <div class="page-intro-static-image">-->
  <!--    <StaticImage image={image} alt="Collage of all courses" />-->
  <!--  </div>-->
  <!--  <div class="page-intro-text">-->

  <!--    <p><strong><a href="https://courses.naomifisher.co.uk/login">Log in</a></strong></p>-->

      <!--<p>We are contacted by a lot of parents wanting help for their children, more than we can ever hope to see.-->
      <!--  We realised that families were finding it hard to access high quality, affordable psychological information which addressed their children’s needs.-->
      <!--  We also knew that when we did see families, we often ended up repeating much of the same information.-->
      <!--  Our courses are an attempt to bring that information to a larger audience. </p>-->

    <!--  <h3>Courses FAQ</h3>-->
    <!--  <div class="accordion-wrapper">-->
    <!--    <button class="accordion">What is a course?</button-->
    <!--    >-->
    <!--    <div class="panel">-->
    <!--      <p>-->
    <!--        Our courses are a series of pre-recorded videos that you watch in your own time.-->
    <!--      </p>-->
    <!--      <p>-->
    <!--        Most are for parents to watch, but some are for teenagers or-->
    <!--        professionals to watch.-->
    <!--      </p>-->

    <!--      <p>-->
    <!--        They combine psychological theory with practical ideas from clinical-->
    <!--        practice. They are quite information-dense and you might need to watch-->
    <!--        some of the modules several times. They will help you to understand what-->
    <!--        is going on for your child (or you yourself) and get some ideas as to-->
    <!--        how to help.-->
    <!--      </p>-->

    <!--      <p>-->
    <!--        They are divided into small, manageable modules. You can watch them in-->
    <!--        your own time, on whatever device you prefer, as many times as you like-->
    <!--        within 12 months of purchase.-->
    <!--      </p>-->
    <!--    </div>-->

    <!--    <button class="accordion">What topics do they cover?</button-->
    <!--    >-->
    <!--    <div class="panel">-->
    <!--      <p>-->
    <!--        Our pre-recorded courses cover topics such as helping your child with-->
    <!--        anxiety, demand avoidance, burnout and problems at school.-->
    <!--      </p>-->
    <!--    </div>-->

    <!--    <button class="accordion">How do I watch courses I've purchased?</button-->
    <!--    >-->

    <!--    <div class="panel">-->
    <!--      <p>-->
    <!--        <a href="https://courses.naomifisher.co.uk/login"-->
    <!--        >Login to our courses website</a-->
    <!--        > to watch your courses.-->
    <!--      </p>-->
    <!--    </div>-->
    <!--    <button class="accordion"-->
    <!--    >How long are courses available to watch for?</button-->
    <!--    >-->
    <!--    <div class="panel">-->
    <!--      <p>They are now available to watch for 12 months after purchase.</p>-->
    <!--    </div>-->
    <!--  </div>-->
  <!--  </div>-->
  <!--</div>-->

  <h2 class="section-title">
    <span class="courses-section-title">Featured Courses</span>
  </h2>
  <CoursesList
    courses={featuredCourses1}
    categoryId="featured"
    categoryName="Featured Courses"
  />


</BaseLayout>
