---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Privacy Policy">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">
      <h1>Educational Psychology</h1>
      <p>
        Dr Abigail Fisher is an Educational Psychologist and qualified teacher.
      </p>
      <p>
        Having worked in local authorities with school staff and children, she
        now works independently. She is running webinars to help parents
        understand the EHCP process
      </p>

      <p>
        To contact Abigail, email <a href="mailto:support@naomifisher.co.uk"
          >support@naomifisher.co.uk</a
        >
      </p>
      <p>Please be aware she does not do tribunal work.</p>
    </div>
  </div></BaseLayout
>
