---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="emdr-training" pageTitle="EMDR Training">
  <div class="wrapper">
    <h1>EMDR Basic Training</h1>

    <p>
      Online Basic Training | In-house Basic Training | Refresher Days</p>

      <p>
        Dr Naomi Fisher is an EMDR-Europe accredited trainer. She runs basic
        EMDR training courses online and in-house. These are training courses
        for those who are already qualified mental health professionals who want
        to learn how to do EMDR.
      </p>
      <p>
        She also runs EMDR Refresher Days for those already fully trained who
        need to brush up their skills or gain confidence in EMDR.
      </p>

      <h2>Basic Training</h2>

      <p>
        Naomi's basic EMDR training course takes seven days and consists of three
        separate parts, each a couple of months apart. It is a practical course
        and you will practice doing EMDR on each other from Part 1. You will
        learn how to implement the basic protocol, how to adapt that to your
        clients and how to work with complex trauma. You will also learn how to
        use EMDR as a transdiagnostic intervention. This training covers
        everything you need to start using EMDR. It covers:
        <ul>
          <li>The 8-phase EMDR protocol</li>
          <li>The evidence base</li>
          <li>Understanding trauma and PTSD</li>
          <li>Formulation and the adaptive information processing model</li>
          <li>Preparation and self-soothing</li>
          <li>The Three-Prongs of EMDR</li>
          <li>Using EMDR beyond PTSD</li>
          <li>Working with complex trauma</li>
          <li>Working with children</li>
          <li>Working with neurodiversity</li>
          <li>Case supervision</li>
          <li>EMDR Practicum</li>
        </ul>

        The course includes 10 hours of clinical supervision. After completing
        the training you can go to apply for accreditation as an EMDR
        Practitioner with the EMDR Association UK. This takes at least a year
        after completing the training and requires you to have ongoing
        supervision as well as to submit videos.
      </p>

      <p>
        Naomi's basic EMDR training is delivered in two ways. Firstly,
        individuals or small groups can sign up to her online basic EMDR
        training. Secondly, for groups of 24 or more, we can provide in-house
        training in person.
      </p>

      <h2>Online Basic Training</h2>

      <p>
        Individuals or small groups can join Naomi's online EMDR basic training.
        It is divided into three parts. Part 1 is 3 days, Part 2 is 2 days and
        Part 3 is 2 days. You will need to attend every part of the training to
        receive the attendance certificate which is necessary if you want to
        continue to accreditation with the EMDR UK Association.
      </p>

      <p>
        Dates - Part 1 16-18th Oct 2024 - Part 2 12-13 Dec 2024 - Part 3 10-11
        Feb 2025.
      </p>

      <p>More information, check your eligibility and apply.</p>

      <h2>In-house Basic Training</h2>

      <p>
        For groups of 24 or more, Naomi and her facilitators can come to you and
        train your staff in EMDR. The full training is 7 days, which is divided
        into two three-day sections in person and one online day in the middle.
      </p>

      <p>More information and enquire</p>

      <h2>EMDR Refresher Days</h2>

      <p>
        Naomi also runs regular EMDR Refresher days for those who are already
        trained in EMDR but who want to refresh their knowledge. These people
        may have had some time away from clinical work, have just been on
        parental leave or might have never quite got going with EMDR. These days
        are online and they cover all aspects of the standard protocol,
        including cognitive interweaves. They are interactive and there are lots
        of chances to ask questions. After you attend and send feedback, you
        will receive an attendance certificate and you will also receive complimentary access to
        Naomi's EMDR videos for 12 months.
      </p>

      <p>We have 2 dates available - Fri September 27 and Fri March 28 2025</p>

      <p>More information and apply.</p>
    </p>
  </div>
</BaseLayout>
