---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="emdr-training" pageTitle="EMDR Training">
  <div class="wrapper">
    <h1>EMDR Training</h1>

    <div>
      <p>
        Dr Naomi Fisher is an EMDR-Europe accredited trainer. She runs basic
        EMDR training courses in person and online. These are training courses
        for those who are already qualified mental health professionals who want
        to learn how to do EMDR.
      </p>

      <p>
        EMDR is an evidence based psychotherapy which is recommended by
        professional guidelines across the world (including NICE, the World
        Health Organisation (WHO) and the International Society for Traumatic
        Stress Studies (ISTSS) as a treatment for trauma. It can be used with
        adults, adolescents and children.
      </p>
    </div>

    <div>
      <h2>Basic EMDR Training</h2>
      <p>
        The basic EMDR training course takes seven days and consists of three
        parts. It is a practical course and you will practice doing EMDR on each
        other from Part 1. You will learn how to implement the basic protocol,
        how to adapt that to your clients and how to work with complex trauma.
        You will also learn how to use EMDR as a transdiagnostic intervention.
        The basic course includes 10 hours of clinical supervision. After
        completing the training you can go to apply for accreditation as an EMDR
        Practitioner with the EMDR Association UK. This takes at least a year
        after completing the training and requires you to have ongoing
        supervision as well as to submit videos.
      </p>

      <h3>More details and dates (accordian?)</h3>
      <p>
        I run EMDR basic training which is divided into three parts. Part 1 is 3
        days, Part 2 is 2 days and Part 3 is 2 days. You will need to attend
        every part of the training to receive the attendance certificate which
        is necessary if you want to continue to accreditation with the EMDR UK
        Association. This training covers everything you need to start using
        EMDR. It is a practical course which includes case supervision and real
        life EMDR practice on each other. It covers: The 8-phase EMDR protocol.
        The evidence base. Understanding trauma and PTSD. Formulation and the
        adaptive information processing model. Preparation and self-soothing.
        The Three-Prongs of EMDR. Using EMDR beyond PTSD. Working with complex
        trauma. Working with children. Working with neurodiversity. Case
        supervision. EMDR Practicum. There are two models available. The blended
        model is both in person and online. You can come to Part 1 (3 days) in
        Exeter, and then do Parts 2 and 3 (each two days) online. The advantage
        of this is that you will meet other EMDR trainee therapists and do your
        first practicums in person. The fully online version is the same content
        but is delivered entirely online.
      </p>

      <p>
        Dates - Part 1 16-18th Oct 2024 - Part 2 12-13 Dec 2024 - Part 3 10-11
        Feb 2025
      </p>
    </div>

    <div>
      <h2>EMDR Refresher Days</h2>
      <p>
        Naomi runs regular EMDR Refresher days for those who are already trained
        in EMDR but who want to refresh their knowledge. These people may have
        had some time away from clinical work, have just been on parental leave
        or might have never quite got going with EMDR. These days are online and
        they cover all aspects of the standard protocol, including cognitive
        interweaves. They are interactive and there are lots of chances to ask
        questions.
      </p>

      <h3>More details and dates (accordion?)</h3>
      <p>
        You’ve done the EMDR basic training. You know that it could help your
        clients – but you’re finding it hard to get started. Maybe you did the
        training a while ago and never quite got going, or maybe you’ve recently
        finished but need an extra hand to get yourself up and running. Maybe
        your clients seem so complex that you just don’t know how to try it out.
        Come on this friendly and interactive online Refresher Day with
        EMDR-Europe accredited trainer and clinical psychologist Dr Naomi
        Fisher. Over the course of the day we’ll: go over the 8 phases and three
        prongs of the standard protocol, troubleshoot problems and revisit the
        Adaptive Information Processing model. discuss case formulation dive
        deep into cognitive interweaves and how to use them address common
        errors and how to avoid them All in Naomi’s trademark down-to-earth and
        engaging style, with videos to demonstrate key points. You’ll leave
        energised and ready to launch (or turbo-charge) your EMDR practice. All
        participants receive a manual, a copy of the slides and access to
        Naomi’s EMDR Refresher videos for 6 months. This day is suitable for
        both adult and child therapists who have completed the EMDR basic
        training.
      </p>

      <p>We have 2 dates available - Monday July 8th - Friday September 27th</p>
    </div>

    <div>
      <h2>Bespoke Training</h2>
      <p>
        Naomi is available to run bespoke training for your organisation or NHS
        trust. Please contact us to discuss your requirements. Recent training
        topics include: Neurodiversity and Trauma The Art of Low Demand Therapy
        Working therapeutically with young people who aren’t attending school.
        Autism and Trauma Bringing Neurodiversity into Your Formulation
      </p>

      <h3>More details (accordion?)</h3>
      <p>
        I can come to you and train your staff in EMDR. The full training is 7
        days, which is divided into two three-day sections in person and one
        online day in the middle. Your staff will learn how to use EMDR in
        person and online. This training covers everything you need to start
        using EMDR. It is a practical course which includes case supervision and
        real life EMDR practice on each other. It covers: The 8-phase EMDR
        protocol. The evidence base. Understanding trauma and PTSD. Formulation
        and the adaptive information processing model. Preparation and
        self-soothing. The Three-Prongs of EMDR. Using EMDR beyond PTSD. Working
        with complex trauma. Working with children. Working with neurodiversity.
        Case supervision. EMDR Practicum. The training is accredited by
        EMDR-Europe and as such covers a basic curriculum. However, it can be
        slightly customised to the needs of your group on request. Extra time
        can be spent on developmental adaptations or neurodiversity if those are
        the groups your trainees work with.
      </p>
    </div>
  </div>
</BaseLayout>
