---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="emdr-training" pageTitle="EMDR training">
  <div class="wrapper">
    <h1>EMDR training blurb</h1>
  </div>
</BaseLayout>
