---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="for-professionals" pageTitle="For Professionals">
  <div class="wrapper">
    <h1>For professionals blurb</h1>
  </div>
</BaseLayout>
