---
import BaseLayout from "../layouts/BaseLayout.astro";
import StaticImage from "../components/StaticImage.astro";
import naomiImage from "../images/static/dr-naomi-fisher.png";
import Newsletter from "../components/Newsletter.astro";
---

<script src="../scripts/accordion.js"></script>

<BaseLayout pageTitle="Contact">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">
      <h1>Is It All My Fault?</h1>

      <p>
        A new webinar by Dr Naomi Fisher and Eliza Fricker, based on their
        upcoming book <em>When the Naughty Step Makes Things Worse</em>
      </p>
      <h2>THREE STEPS TO YOUR FREE TICKET</h2>

      <p>
        <ol>
          <li>
            PREORDER WHEN THE NAUGHTY STEP MAKES THINGS WORSE FROM ANY
            BOOKSELLER.
          </li>
          <li>
            SEND US THE PROOF OF PURCHASE <a
              href="   https://www.naomifisher.co.uk/is-it-all-my-fault">HERE</a
            >
          </li>
          <li>GET A LINK FOR A FREE WEBINAR PLACE (PLUS RECORDING)</li>.
        </ol>
      </p>

      <h3>What will we talk about?</h3>

      <p>
        Naomi and Eliza will talk about parenting when it looks very different
        to the mainstream. In their trademark down to earth and chatty style,
        they'll explain some of their key insights when parenting children for
        whom the usual rules just don't seem to apply. All illustrated by Eliza
        and backed up with Naomi's psychological knowledge. You'll laugh, cry
        and feel you're understood.
      </p>
    </div>
    <div class="page-intro-text">
      <h3>Frequently Asked Questions</h3>
      <div class="accordion-wrapper">
        <button class="accordion"
          >Why can't I buy a webinar ticket on Eventbrite?</button
        >
        <div class="panel">
          <p>
            If you can't see a button to buy a ticket, it might be because
            you're using the Eventbrite iPhone app which you can't use for
            buying tickets. Please use a web browser to purchase tickets
          </p>
        </div>
        <button class="accordion">Are webinars recorded?</button>
        <div class="panel">
          <p>
            Yes, if you choose the webinar + recording ticket, you will get sent
            a link to the recording. You can watch the recording for 30 days
            after the webinar.
          </p>
        </div>
        <button class="accordion"
          >How long are webinar recordings available for?</button
        >
        <div class="panel">
          <p>They are available for 30 days after the webinar.</p>
        </div>
      
      </div>
    </div>
  </div>

  <Newsletter />
</BaseLayout>
