---
import BaseLayout from "../layouts/BaseLayout.astro";
import getWebinars from "../scripts/webinars.js";
import WebinarSummary from "../components/webinar/WebinarSummary.astro";
import GenerateQuote from "../components/Quoter";
import { getFeaturedCourses } from "../scripts/courses";
import CoursesList from "../components/course/CoursesList.astro";
import BookSummary from "../components/book/BookSummary.astro";
import { getFeaturedBooks } from "../scripts/book";
import Newsletter from "../components/Newsletter.astro";
import BlogList from "../components/blog/BlogList.astro";

const webinars = await getWebinars();

const featuredCourses1 = await getFeaturedCourses(0, 2);
const featuredCourses2 = await getFeaturedCourses(2, 4);

const featuredBooks = await getFeaturedBooks();
---

<BaseLayout active="home" pageTitle="Home">
  <div class="wrapper">
    <div class="page-intro-wrapper">
      <div class="page-intro-image"></div>
      <div class="page-intro-text">
        <p>
          Welcome! Here you’ll find the work of Dr Naomi Fisher and Dr Abigail
          Fisher.
        </p>
        <p>
          Naomi is a clinical psychologist, author and EMDR-Europe Accredited
          Trainer. She writes and speaks about trauma, autism and alternative
          education.
        </p>
        <p>
          Naomi offers a range of support for parents and carers, alongside a
          growing range of resources for professionals and teens.
        </p>
        <p>
          If you’re a parent or carer looking for support, we run regular
          webinars. These are live events but you can choose to buy the
          recording as well. We also have many short courses for parents and
          teenagers. These are entirely on-demand and can be watched in your own
          time.
        </p>
        <p>
          Naomi has written several books, including the lastest [DETAILS HERE],
          [Bit more boos overview blurb] all Naomi's books can be viewed and
          purchased in the Books section here.
        </p>
        <p>
          [Blog overview blurb] Donec elit nulla, dictum eu odio fermentum,
          rhoncus commodo lectus. Duis sed magna non mi hendrerit convallis eu
          ut diam. Nullam maximus sem in mi bibendum vehicula. Donec facilisis
          libero sit amet velit faucibus tempor.
        </p>
      </div>
    </div>

    <a name="webinars" class="anchor">
      <h2 class="section-title">
        <span class="webinars-section-title">Upcoming Webinars</span>
      </h2>
    </a>

    {webinars.map((webinar, index) => <WebinarSummary webinar={webinar} />)}

    <CoursesList
      courses={featuredCourses1}
      categoryId="featured"
      categoryName="Featured Courses"
    />

    <Newsletter />

    <CoursesList courses={featuredCourses2} />

    <a name="books" class="anchor">
      <h2 class="section-title">
        <span class="books-section-title">Featured Books</span>
      </h2>
    </a>
    {featuredBooks.map((book) => <BookSummary book={book.data} />)}

    <a name="blog" class="anchor">
      <h2 class="section-title">
        <span class="blog-section-title">Latest Blog Posts</span>
      </h2>
    </a>

    <BlogList length = "2"/>

    <div class="info-section-wrapper">
      <div class="info-text">
        <p>
          Finding the right support among a wealth of information can be
          overwhelming,to help you find what's personally relevant we’ve tagged
          all available resources across the Dr Naomi Fisher website with a
          range of <strong>Topics</strong>, <strong>Topic Age Ranges</strong>,
          and the intended <strong>Audience</strong>.
        </p>
        <p>
          As well as an indication at a glance of a resources content, these
          Tags can be selected to view a combination of any relevant Webinars,
          Courses, Books and Blog posts which may be available. Use the <strong
            >Search</strong
          > button located at the top and bottom of any page to open the Tags menu.
        </p>
      </div>

      <div class="info-links">
        <a href="/autism/" class="filter-tags"> Autism </a>
        <a href="/demand-avoidance/" class="filter-tags"> Demand Avoidance </a>
        <a href="/anxiety/" class="filter-tags"> Anxiety </a>
        <a href="/burnout/" class="filter-tags"> Burnout </a>
        <a href="/trauma/" class="filter-tags"> Trauma </a>
        <a href="/school/" class="filter-tags"> School </a>
        <a href="/EHCP/" class="filter-tags"> EHCP </a>
        <a href="/SEN/" class="filter-tags"> SEN </a>
        <a href="/Screens/" class="filter-tags"> Screens </a>
        <a href="/Low Demnand Parenting/" class="filter-tags">
          Low Demand Parenting
        </a>
        <a href="/EDMR/" class="filter-tags"> EDMR </a>
        <a href="/pre-teen/" class="filter-age"> Pre-Teen </a>
        <a href="/tween/" class="filter-age"> Tween </a>
        <a href="/teen/" class="filter-age"> Teen </a>
        <a href="/parents-and-carers/" class="filter-audience">
          Parents and Carers
        </a>
        <a href="/Teens/" class="filter-audience"> Teens </a>
        <a href="/professionals/" class="filter-audience"> Professionals </a>
      </div>
    </div>

    <GenerateQuote
      client:load
      quotes={[
        {
          text: "This is a great webinar",
          author: "Webinar attendee 100",
        },
        {
          text: "This is a nice webinar",
          author: "Webinar attendee 101",
        },
      ]}
    />
  </div>
</BaseLayout>
