---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="home" pageTitle="Home">
  <div class="wrapper">
    <ul>
      <li>Naomi brief bio</li>
      <li>Image</li>
      <li>Upcoming webinars summary</li>
      <li>Courses summary (incl. any sale or new)</li>
      <li>Books summary incl. new or preleased books</li>
      <li>EMDR training</li>
    </ul>
  </div>
</BaseLayout>
