---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image, Picture } from "astro:assets";

import testImage from "../images/courses/test.jpeg";
---

<BaseLayout active="home" pageTitle="Home">
  <div class="wrapper">
    <Image width="200" src={testImage} alt="A description of my image." />
    <ul>
      <li>Naomi brief bio</li>
      <li>Image</li>
      <li>Upcoming webinars summary</li>
      <li>Courses summary (incl. any sale or new)</li>
      <li>Books summary incl. new or preleased books</li>
      <li>EMDR training</li>
    </ul>
    <Picture
      src={testImage}
      widths={[240, 540, 720, testImage.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${testImage.width}px`}
      alt="Test image for responsive testing."
      pictureAttributes={{ style: "background-color: red;" }}
    />
  </div>
</BaseLayout>
