---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardLayout from "../layouts/CardLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home";
---

<CardLayout pageTitle={pageTitle}>
  <h2>Dr. Naomi Fisher</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</CardLayout>
