---
import BaseLayout from "../layouts/BaseLayout.astro";
import getWebinars from "../scripts/webinars.js";
import WebinarSummary from "../components/webinar/WebinarSummary.astro";
import GenerateQuote from "../components/Quoter";

const webinars = await getWebinars();
---

<BaseLayout active="home" pageTitle="Home">
  <div class="wrapper">
    <div class="page-intro-wrapper">
      <div class="page-intro-image"></div>
      <div class="page-intro-text">
        <p>
          Welcome! Here you’ll find the work of Dr Naomi Fisher and Dr Abigail
          Fisher.
        </p>
        <p>
          Naomi is a clinical psychologist, author and EMDR-Europe Accredited
          Trainer. She writes and speaks about trauma, autism and alternative
          education.
        </p>
        <p>
          Naomi offers a range of support for parents and carers, alongside a
          growing range of resources for professionals and teens.
        </p>
        <p>
          If you’re a parent or carer looking for support, we run regular
          webinars. These are live events but you can choose to buy the
          recording as well. We also have many short courses for parents and
          teenagers. These are entirely on-demand and can be watched in your own
          time.
        </p>
        <p>
          Naomi has written several books, including the lastest [DETAILS HERE],
          [Bit more boos overview blurb] all Naomi's books can be viewed and
          purchased in the Books section here.
        </p>
        <p>
          [Blog overview blurb] Donec elit nulla, dictum eu odio fermentum,
          rhoncus commodo lectus. Duis sed magna non mi hendrerit convallis eu
          ut diam. Nullam maximus sem in mi bibendum vehicula. Donec facilisis
          libero sit amet velit faucibus tempor.
        </p>
      </div>
    </div>

    <a name="webinars" class="anchor">
      <h2 class="section-title">
        <span class="webinars-section-title">Upcoming Webinars</span>
      </h2>
    </a>

    {webinars.map((webinar, index) => <WebinarSummary webinar={webinar} />)}

    <h2 class="section-title" id="most-recent">
      <span class="courses-section-title">Featured Courses</span>
    </h2>

    <div class="card card-courses">
      <div class="sale-badge">
        <span class="sale-amount">50<i>%</i></span>
        <span class="sale-text">off</span>
      </div>

      <h2>
        <a href="courses-details-page.html">Course Title</a>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-image-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> RECORDED COURSE </a>
        <span class="duration"> 1 hour 20 mins </span>
        <span class="cost sales-cost">
          <em>£40.00 GBP</em>
          <strong>£20.00 GBP</strong>
        </span>
      </div>

      <p>
        Are you wondering if your child is neurodivergent - but aren't sure what
        that actually means and what you should do about it? This course is the
        place to start. Understand what neurodiversity means, how it relates to
        other ways of understanding difference and get some ideas as to how to
        talk to your children about neurodiversity and help them to thrive.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="courses-details-page.html"> Learn More </a>
        <a href="#"> Buy Now </a>
      </div>
    </div>

    <div class="card card-courses">
      <h2>
        <a href="courses-details-page.html">Course Title</a>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-image-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> RECORDED COURSE </a>
        <span class="duration"> 1 hour 20 mins </span>
        <span class="cost"> £40.00 </span>
      </div>

      <p>
        Are you wondering if your child is neurodivergent - but aren't sure what
        that actually means and what you should do about it? This course is the
        place to start. Understand what neurodiversity means, how it relates to
        other ways of understanding difference and get some ideas as to how to
        talk to your children about neurodiversity and help them to thrive.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="courses-details-page.html"> Learn More </a>
        <a href="#"> Buy Now </a>
      </div>
    </div>

    <div class="form-wrapper">
      <div class="form-title">
        <img
          src="/images/header/dr-naomi-fisher-logo.svg"
          alt="Dr Naomi Fisher"
        />
        <h2>Newsletter</h2>
      </div>
      <div class="form">
        <form
          action="https://app.convertkit.com/forms/6662296/subscriptions"
          class="seva-form formkit-form"
          method="post"
          data-sv-form="6662296"
          data-uid="a4bc346f2b"
          data-format="inline"
          data-version="5"
          data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":false},"return_visitor":{"action":"hide","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"5"}'
          min-width="400 500 600 700 800"
        >
          <div data-style="clean">
            <ul
              class="formkit-alert formkit-alert-error"
              data-element="errors"
              data-group="alert"
            >
            </ul>
            <div
              data-element="fields"
              data-stacked="true"
              class="seva-fields formkit-fields"
            >
              <div class="formkit-field">
                <input
                  class="formkit-input"
                  name="email_address"
                  aria-label="Email Address"
                  placeholder="Your Email Address"
                  required=""
                  type="email"
                />
              </div>
              <div class="formkit-field null-field">
                <div role="button" tabindex="0">
                  <fieldset
                    data-group="checkboxes"
                    class="formkit-4446"
                    type="Custom"
                    order="1"
                    save_as="Tag"
                    group="field"
                  >
                  </fieldset>
                </div>
              </div>
              <div class="formkit-field">
                <div role="button" tabindex="0">
                  <fieldset
                    data-group="checkboxes"
                    class="formkit-4892"
                    type="Custom"
                    order="2"
                    save_as="Tag"
                    group="field"
                  >
                    <div
                      class="formkit-checkboxes"
                      data-element="tags-checkboxes"
                      data-group="checkbox"
                    >
                      <input
                        class="formkit-checkbox"
                        id="tag-1063115788-3368044"
                        type="checkbox"
                        name="tags[]"
                        value="3368044"
                      />
                      <label for="tag-1063115788-3368044"
                        >I'm interested in Resources for Parents and Carers</label
                      >
                    </div>
                    <div
                      class="formkit-checkboxes"
                      data-element="tags-checkboxes"
                      data-group="checkbox"
                    >
                      <input
                        class="formkit-checkbox"
                        id="tag-1063115788-3368045"
                        type="checkbox"
                        name="tags[]"
                        value="3368045"
                      />
                      <label for="tag-1063115788-3368045"
                        >I'm interested in Training and Resourses for
                        Professionals</label
                      >
                    </div>
                  </fieldset>
                </div>
              </div>
              <button
                data-element="submit"
                class="formkit-submit formkit-submit"
              >
                <div class="formkit-spinner">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <span class="">Subscribe to Naomi's Newsletter</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card card-courses">
      <h2>
        <a href="courses-details-page.html">Course Title</a>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-image-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> RECORDED COURSE </a>
        <span class="duration"> 1 hour 20 mins </span>
        <span class="cost"> £40.00 </span>
      </div>

      <p>
        Are you wondering if your child is neurodivergent - but aren't sure what
        that actually means and what you should do about it? This course is the
        place to start. Understand what neurodiversity means, how it relates to
        other ways of understanding difference and get some ideas as to how to
        talk to your children about neurodiversity and help them to thrive.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="courses-details-page.html"> Learn More </a>
        <a href="#"> Buy Now </a>
      </div>
    </div>

    <div class="card card-courses">
      <h2>
        <a href="courses-details-page.html">Course Title</a>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-image-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> RECORDED COURSE </a>
        <span class="duration"> 1 hour 20 mins </span>
        <span class="cost"> £40.00 </span>
      </div>

      <p>
        Are you wondering if your child is neurodivergent - but aren't sure what
        that actually means and what you should do about it? This course is the
        place to start. Understand what neurodiversity means, how it relates to
        other ways of understanding difference and get some ideas as to how to
        talk to your children about neurodiversity and help them to thrive.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="courses-details-page.html"> Learn More </a>
        <a href="#"> Buy Now </a>
      </div>
    </div>

    <a name="books" class="anchor">
      <h2 class="section-title">
        <span class="books-section-title">Featured Books</span>
      </h2>
    </a>

    <div class="card card-books">
      <div class="sale-badge preorder-badge">
        <span class="sale-amount">PRE-</span>
        <span class="sale-text">order</span>
      </div>

      <h2>
        <a href="book-details-page.html">Book Title</a>
        <span> Book Subtitle </span>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-book-cover-620.jpg 620w, imgs/example-book-cover-1016.jpg 1016w, imgs/example-book-cover-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-book-cover-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> BOOK </a>
        <span class="bookmark"> Paperback, E-Book, Audiobook </span>
        <span class="date"> Published on 04/02/2021 </span>
      </div>
      <p>
        Children are born full of curiosity, eager to participate in the world.
        They learn as they live, with enthusiasm and joy. Then we send them to
        school We stop them from playing and actively exploring their interests,
        telling them it's more important to sit still and listen. The result is
        that for many children, their motivation to learn drops dramatically.
        The joy of the early years is replaced with apathy and anxiety.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker/">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="book-details-page.html"> Learn More </a>
        <a href="https://amazon.co.uk" class="amazon-link" target="_blank">
          Purchase
        </a>
      </div>
    </div>

    <div class="card card-books">
      <div class="sale-badge preorder-badge">
        <span class="sale-amount">PRE-</span>
        <span class="sale-text">order</span>
      </div>

      <h2>
        <a href="book-details-page.html">Book Title</a>
        <span> Book Subtitle </span>
      </h2>

      <div class="card-image">
        <img
          srcset="imgs/example-book-cover-620.jpg 620w, imgs/example-book-cover-1016.jpg 1016w, imgs/example-book-cover-2176.jpg 2176w"
          sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw"
          src="imgs/example-book-cover-620.jpg"
          alt="an image description for the visually impaired, also helps SEO"
          loading="lazy"
        />
      </div>

      <div class="card-details">
        <a href="#"> BOOK </a>
        <span class="bookmark"> Paperback, E-Book, Audiobook </span>
        <span class="date"> Published on 04/02/2021 </span>
      </div>
      <p>
        Children are born full of curiosity, eager to participate in the world.
        They learn as they live, with enthusiasm and joy. Then we send them to
        school We stop them from playing and actively exploring their interests,
        telling them it's more important to sit still and listen. The result is
        that for many children, their motivation to learn drops dramatically.
        The joy of the early years is replaced with apathy and anxiety.
      </p>

      <div class="card-meta">
        <span class="contributors">
          Dr Naomi Fisher, <a href="/eliza-fricker/">Eliza Fricker</a>
        </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="/demand-avoidance/">Demand Avoidance</a
          >
        </span>
        <span class="ages">
          <a href="/pre-teen/">Pre-teen</a>, <a href="/tween/">Tween</a>, <a
            href="/teen/">Teen</a
          >
        </span>
        <span class="audience">
          <a href="/parents/">Parents</a>, <a href="/professionals/"
            >Professionals</a
          >, <a href="/teens/">Teens</a>
        </span>
      </div>

      <div class="card-buttons">
        <a href="book-details-page.html"> Learn More </a>
        <a href="https://amazon.co.uk" class="amazon-link" target="_blank">
          Purchase
        </a>
      </div>
    </div>

    <a name="blog" class="anchor">
      <h2 class="section-title">
        <span class="blog-section-title">Latest Blog Posts</span>
      </h2>
    </a>

    <div class="card card-blog">
      <div class="live-date">
        <span class="live-day">14</span>
        <span class="live-month">May</span>
      </div>

      <h2>
        <a href="blog-details-page.html">Blog Title</a>
      </h2>

      <div class="card-image">
        <!--<img srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w" sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw" src="imgs/example-image-620.jpg" alt="an image description for the visually impaired, also helps SEO" loading="lazy" />-->
        <img src="imgs/blog-example-image.jpg" />
      </div>

      <div class="card-details">
        <a href="/blog/"> BLOG POST </a>
        <span class="date"> 14 MAY 2024 </span>
      </div>

      <p>
        Sometimes I read people saying that there are battles that you must pick
        with your children – certain things are just too important. Reading,
        perhaps, or family meal-times. Regular time outdoors or doing chores.
        Just make them, they say. ‘Be the parent’.
      </p>

      <div class="card-meta">
        <span class="contributors"> Dr Naomi Fisher </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="demand-avoidance.html">Demand Avoidance</a
          >
        </span>
      </div>

      <div class="card-buttons">
        <a href="blog-details-page.html"> Read More </a>
      </div>
    </div>

    <div class="card card-blog">
      <div class="live-date">
        <span class="live-day">14</span>
        <span class="live-month">May</span>
      </div>

      <h2>
        <a href="blog-details-page.html">Blog Title</a>
      </h2>

      <div class="card-image">
        <!--<img srcset="imgs/example-image-620.jpg 620w, imgs/example-image-1016.jpg 1016w, imgs/example-image-2176.jpg 2176w" sizes="(min-width: 1185px) 508px, (min-width: 780px) 728px, 100vw" src="imgs/example-image-620.jpg" alt="an image description for the visually impaired, also helps SEO" loading="lazy" />-->
        <img src="imgs/blog-example-image.jpg" />
      </div>

      <div class="card-details">
        <a href="/blog/"> BLOG POST </a>
        <span class="date"> 14 MAY 2024 </span>
      </div>

      <p>
        Sometimes I read people saying that there are battles that you must pick
        with your children – certain things are just too important. Reading,
        perhaps, or family meal-times. Regular time outdoors or doing chores.
        Just make them, they say. ‘Be the parent’.
      </p>

      <div class="card-meta">
        <span class="contributors"> Dr Naomi Fisher </span>
        <span class="tags">
          <a href="/low-demand-parenting/">Low Demand Parenting</a>, <a
            href="demand-avoidance.html">Demand Avoidance</a
          >
        </span>
      </div>

      <div class="card-buttons">
        <a href="blog-details-page.html"> Read More </a>
      </div>
    </div>

    <div class="info-section-wrapper">
      <div class="info-text">
        <p>
          Finding the right support among a wealth of information can be
          overwhelming,to help you find what's personally relevant we’ve tagged
          all available resources across the Dr Naomi Fisher website with a
          range of <strong>Topics</strong>, <strong>Topic Age Ranges</strong>,
          and the intended <strong>Audience</strong>.
        </p>
        <p>
          As well as an indication at a glance of a resources content, these
          Tags can be selected to view a combination of any relevant Webinars,
          Courses, Books and Blog posts which may be available. Use the <strong
            >Search</strong
          > button located at the top and bottom of any page to open the Tags menu.
        </p>
      </div>
      <div class="info-links">
        <a href="/autism/" class="filter-tags"> Autism </a>
        <a href="/demand-avoidance/" class="filter-tags"> Demand Avoidance </a>
        <a href="/anxiety/" class="filter-tags"> Anxiety </a>
        <a href="/burnout/" class="filter-tags"> Burnout </a>
        <a href="/trauma/" class="filter-tags"> Trauma </a>
        <a href="/school/" class="filter-tags"> School </a>
        <a href="/EHCP/" class="filter-tags"> EHCP </a>
        <a href="/SEN/" class="filter-tags"> SEN </a>
        <a href="/Screens/" class="filter-tags"> Screens </a>
        <a href="/Low Demnand Parenting/" class="filter-tags">
          Low Demand Parenting
        </a>
        <a href="/EDMR/" class="filter-tags"> EDMR </a>
        <a href="/pre-teen/" class="filter-age"> Pre-Teen </a>
        <a href="/tween/" class="filter-age"> Tween </a>
        <a href="/teen/" class="filter-age"> Teen </a>
        <a href="/parents-and-carers/" class="filter-audience">
          Parents and Carers
        </a>
        <a href="/Teens/" class="filter-audience"> Teens </a>
        <a href="/professionals/" class="filter-audience"> Professionals </a>
      </div>
    </div>

    <GenerateQuote
      client:load
      quotes={[
        {
          text: "This is a great webinar",
          author: "Webinar attendee 100",
        },
        {
          text: "This is a nice webinar",
          author: "Webinar attendee 101",
        },
      ]}
    />
  </div>
</BaseLayout>
