---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image, Picture } from "astro:assets";

import testImage from "../images/courses/test.jpeg";
import testImage2 from "../images/courses/test2.jpeg";

import GenerateQuote from "../components/Quoter";
---

<BaseLayout active="home" pageTitle="Home">
  <div class="wrapper">
    <div>
      <p>
        Welcome! Here you’ll find the work of Dr Naomi Fisher and Dr Abigail
        Fisher.
      </p>

      <p>
        Naomi is a clinical psychologist, author and EMDR-Europe Accredited
        Trainer. She writes and speaks about trauma, autism and alternative
        education.
      </p>

      <h2>Webinars</h2>
      <p>
        If you’re a parent or carer looking for support, we run regular <a
          href="/webinars">webinars</a
        >. These are live events but you can choose to buy the recording as
        well.
      </p>

      <h3>Upcoming webinars</h3>
      ADD HERE

      <h2>Courses</h2>
      <p>
        We also have many short <a href="/courses"
          >courses for parents and teenagers</a
        >. These are entirely on-demand and can be watched in your own time.
      </p>

      <h3>Featured courses</h3>
      ADD HERE

      <h2>Books and Blog</h2>
      <p>
        Naomi has written several books which you can <a href="/books"
          >peruse and purchase</a
        >.
      </p>
      <p>
        She also blogs regularly and you will find her <a href="/blog"
          >most recent blog posts here</a
        >.
      </p>

      <h2>Professional Training</h2>
      <p>
        Naomi runs EMDR Basic Training courses as well as online EMDR Refresher
        Days. Refresher Days are for those who are already trained but who need
        to brush up their skills and knowledge.
      </p>
      <p>Naomi can also run  in-house training for your NHS trust or organisation.</p>
      <p>
        Naomi also runs occasional training for professionals on trauma and
        neurodiversity.
      </p>

      <h2>Consultations</h2>
      <p>Consultation and supervision blurb</p>

      <h2>Contact Us</h2>
      <p>Contact here.</p>
      <p>Press enquiries here</p>

      <GenerateQuote
        client:load
        quotes={[
          {
            text: "This is a great webinar",
            author: "Webinar attendee 100",
          },
          {
            text: "This is a nice webinar",
            author: "Webinar attendee 101",
          },
        ]}
      />

      <div class="wrapper">
        <script
          async
          data-uid="a4bc346f2b"
          src="https://motivated-designer-4254.ck.page/a4bc346f2b/index.js"
        ></script>
      </div>
    </div>
  </div>
</BaseLayout>
