---
import BaseLayout from "../layouts/BaseLayout.astro";
import Newsletter from "../components/Newsletter.astro";
---

<BaseLayout pageTitle="Privacy Policy">
  <div class="page-full-width-text">
    Sign up to our newsletter below to get our Low Demand Communication Toolkit
  </div>

  <!--6662296 is the normal newsletter form -->
  <!-- 7379328 is low demand toolkit form -->
  <Newsletter formId="7379328" />
</BaseLayout>
