---
import BaseLayout from "../layouts/BaseLayout.astro";
import GenerateQuote from "../components/Quoter";
import { getEntry } from "astro:content";
import StaticImage from "../components/StaticImage.astro";
import mediaImage from "../images/static/1080w/naomi-and-abi-outside.webp";
import MediaSummary from "../components/media/MediaSummary.astro";
import { allMedia } from "../scripts/media";

const quotes = (await getEntry("webinar-quotes", "general-webinar-quotes"))
  .data;

const pageTitle = "Media";

const metaDescription =
  "Dr Naomi Fisher and Dr Abigail Fisher's upcoming live webinars on helping your autistic teenagers and children, for parents worried about their child's anxiety, demand avoidance and burnout. For helping families with problems at school, SEN, EHCPs. With Elia Fricker, the Art of Low Demand Parenting";
---

<BaseLayout
  active="media"
  pageTitle={pageTitle}
  metaDescription={metaDescription}
>
  <div class="page-intro-wrapper">
    <div class="page-intro-static-image">
      <StaticImage image={mediaImage} alt="Naomi and Abi sitting outsdie" />
    </div>
    <div class="page-intro-text">
      <h3>MEDIA</h3>
      <p>
        Here you will find links to Naomi's podcasts and publications in
        magazines and newspapers.
      </p>
      <p>
        If you are a journalist or broadcaster wanting to contact Naomi, you can
        email <a href="mailto:press@naomifisher.co.uk"
          >media@naomifisher.co.uk</a
        >
      </p>
    </div>
  </div>

  {allMedia.map((media) => <MediaSummary media={media} />)};
</BaseLayout>
