---
import BaseLayout from "../layouts/BaseLayout.astro";
import Newsletter from "../components/Newsletter.astro";
---

<BaseLayout pageTitle="Bio">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">

     <Newsletter/>

    </div>
  </div></BaseLayout
>
