---
import NewsletterNew from "../components/NewsletterNew.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="" pageTitle="Newsletter" metaDescription="Sign up to Naomi's newsletter">
  <a id="newsletter" class="anchor">
    <h2 class="section-title">
      <span class="courses-section-title">Stay informed</span>
    </h2>
  </a>
  <NewsletterNew formId="6662296" />
</BaseLayout>
