---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout active="our-people" pageTitle="Our people">
  <div class="wrapper">
    <h1>Our people</h1>
    <div>
      <a href="/people/dr-naomi-fisher">Dr. Naomi Fisher</a> |
      <a href="/people/dr-abigail-fisher">Dr. Abigail Fisher</a> |
      <a href="/people/eliza-fricker">Eliza Fricker</a>
    </div>
  </div>
</BaseLayout>
