---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Privacy Policy">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">
      Thank you for subscribing to Naomi's mailing list.
    </div>
  </div>

  You can now download your <a href="/low-demand-communication-toolkit.pdf"
    >Low Demand Communication Toolkit</a
  >.
</BaseLayout>
