---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Privacy Policy">
  <div class="page-intro-wrapper">
    <div class="page-intro-text">Thank you for subscribing.</div>
  </div></BaseLayout
>
