---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Welcome">
  <div class="page-intro-wrapper">
    <div class="page-full-width-text">
      <h3>Thank you for subscribing</h3>

      <p>
        The toolkit download instructions will shortly arrive in your inbox.
      </p>
    </div>
  </div></BaseLayout
>
