---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Welcome">
  <h3>Please check your email</h3>
  <p>Almost there!</p><p>
    Your Low Demand Parenting Toolkit is now in your inbox.
  </p></BaseLayout
>
