---
import BaseLayout from "../../layouts/BaseLayout.astro"

---
<BaseLayout active="about-us" pageTitle="About Us - Naomi">
  <div class="wrapper">
Whilst I was growing up, I went to eleven different schools in four countries on two continents.  I discovered that they do not all work in the same way, and in fact, something which one school might regard as completely essential, another school would see as trivial or insignificant.  

This experience left me with an urge to question everything which has never stopped. I am always asking Does it have to be this way? and if the answer is yes it does, then the question is Why? 

I’ve carried that into my career and work. I went to university intending to be a doctor. I had a place to study medicine and I put in two years of hard slog learning anatomy, physiology and biochemistry. Then I had the chance to do an intercalated year in Experimental Psychology. I quickly discovered that I found psychology much more interesting than medicine and haven’t looked back. I left medicine and went to do a PhD in developmental cognitive psychology (autism) at the Social, Genetic and Developmental Psychiatry Research Centre at the Institute of Psychiatry and Neuroscience, Kings College London.  Next I did a doctorate in clinical psychology, also at Kings College. There, I learnt how to apply psychological theory and therapy to help people with their mental health. 

When I completed my doctorate, I went to work in the NHS. I worked in primary care in Lewisham initially and then in specialist trauma services in London. I specialised in EMDR, a form of trauma therapy.  I worked for the Metropolitan Police for a while.   I then had my own children and went off on another path, that of alternative education.  

As I saw my children learning, I kept thinking about the psychology I had learnt – and thinking about how the way in which many schools thought about learning wasn’t how a developmental psychologist thought about learning at all. Those hours of thinking lead to my first book Changing Our Minds, published in 2021, and then the second one, A Different Way to Learn, published in 2023.  Both are about how children can learn in ways which are quite different to learning at school. 

Our choices around our children’s education led us to many different places (literally, we moved to France for a while and then to Hove and Devon), and I started to work remotely as a result. I now work remotely with parents and young people, as well as supervising EMDR therapists. I run webinars for parents and EMDR training for professionals. And I am in the process of writing several more books.
  </div>
</BaseLayout>

