---
const { people = [] } = Astro.props;
---

<span class="contributors">
  {
    people.map((person: string, index: number) => (
      <>
        {person}
        {index + 1 === people.length ? "" : ","}&nbsp;
      </>
    ))
  }
</span>
