---
const { people = [] } = Astro.props;
---

<span class="contributors">
  By
  {
    people.map((person: string, index: number) => (
      <>
        {person}
        {index + 1 === people.length ? "" : " and "}&nbsp;
      </>
    ))
  }
</span>
