---
import { getTagMeta, splitContentByPTags } from "../scripts/tagMeta";
import Picture from "astro/components/Picture.astro";

const { tagName } = Astro.props;

const tagMeta = getTagMeta(tagName);

const descriptions = splitContentByPTags(tagMeta!.description);

// console.log("tag name", tagName);
---

<div class="page-intro-wrapper">
  <div class="page-intro-static-image">
    <Picture
      src={tagMeta?.image}
      widths={[620, 1016, 2176]}
      sizes={`(min-width: 1185px) 1088px, (min-width: 780px) 754px, 100vw`}
      alt="Alt"
      pictureAttributes={{}}
    />
  </div>
  <div class="page-intro-text">
    <h1>{tagName}</h1>

    <p set:html={descriptions[0]} />

    <div class="accordion-wrapper">
      <button class="accordion no-title-accordion">Read More</button>
      <div class="panel">
        {
          descriptions
            .slice(1)
            .map((description) => <p set:html={description} />)
        }
      </div>
    </div>
  </div>
</div>
