---
import { getTagMeta } from "../scripts/tagMeta";
import Picture from "astro/components/Picture.astro";

const { tagName } = Astro.props;

const tagMeta = getTagMeta(tagName);

// console.log("tag name", tagName);
---

<div class="page-intro-wrapper">
  <div class="page-intro-image">
    <Picture
      src={tagMeta?.image}
      widths={[620, 1016, 2176]}
      sizes={`(min-width: 1185px) 1088px, (min-width: 780px) 754px, 100vw`}
      alt="Alt"
      pictureAttributes={{}}
    />
  </div>
  <div class="page-intro-text" set:html={tagMeta?.description} />
</div>
