---
import { getAllTags } from "../scripts/tags"
import { makeUrl } from "../scripts/url"
---
<footer id="tag-menu">
  <div class="tag-footer-wrapper">
    <span></span>
    <div class="tag-footer">
      {
      getAllTags().map((t) => 
      (
        <a href={`/tags/${makeUrl(t)}`}>{t}</a>
      ))
      }
      </div>
  </div>
  <div class="footer-primary">
    <img src="/images/circle-logo.png" alt="Naomi Fisher Logo" />
    <img src="/images/dr-naomi-fisher-logo-white.svg" alt="Dr Naomi Fisher" />
    <ul class="footer-menu footer-menu-A">
      <li>
        <a href="/webinars/">Webinars</a>
      </li>
      <li>
        <a href="/courses/">Courses</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>

    <ul class="footer-menu footer-menu-B">
      <li>
        <a href="/emdr-training" target="_blank">EMDR training</a>
      </li>

      <li>
        <a href="/for-professionals" target="_blank">For professionals</a>
      </li>

      <li>
        <a href="/our-people" target="_blank">Our people</a>
      </li>

      <li>
        <a href="/contact-us" target="_blank">Contact Us</a>
      </li>
    </ul>
    <div class="smallprint">
      <p>&copy; 2024 Naomi Fisher, all rights reserved.</p>
      <p>
        Naomi Fisher Psychology Limited is a company registered in England and
        Wales with company number 13351132.
      </p>
      <p>
        (Further small print - terms links etc)
        <p></p>
      </p>
    </div>
  </div>
</footer>
