---

---

<footer id="tag-menu">
  <div class="footer-primary">
    <img
      src="/images/footer/circle-logo.png"
      alt="Children looking through the grass"
    />
    <a href="/">
      <img
        src="/images/footer/dr-naomi-fisher-logo-white.svg"
        alt="Dr. Naomi Fisher white logo"
      />
    </a>

    <ul class="footer-menu footer-menu-A">
      <li>
        <a href="/webinars/">Webinars</a>
      </li>
      <li>
        <a href="/courses/">Courses</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>

      <li>
        <a href="/media">Media</a>
      </li>
    </ul>

    <ul class="footer-menu footer-menu-B">
      <li>
        <a href="https://www.emdrtraininguk.co.uk/" target="_blank"
          >EMDR Training</a
        >
      </li>

      <li>
        <a href="/about">About Us</a>
      </li>

      <li>
        <a href="/blog">Blog</a>
      </li>

      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>

    <button
      class="filter-menu-button"
      id="footer-filter-menu-toggle"
      type="button"
    >
      Search
    </button>

    <div class="smallprint">
      <p>
        &copy; {new Date().getFullYear()} Naomi Fisher Psychology Ltd, all rights
        reserved.
      </p>
      <p>
        Web design by <a href="https://outofnowhere.co.uk">Out of Nowhere</a> | Illustrations
        by <a href="https://missingthemark.co.uk">Eliza Fricker</a> & Kate Robson
      </p>
      <p>
        <a href="/privacy-policy">Privacy Policy</a> | <a
          href="/terms-and-conditions">Terms and Conditions</a
        >
      </p>
    </div>
  </div>
</footer>
