---
---

<footer id="tag-menu">
  <div class="footer-primary">
    <img
      src="/images/footer/circle-logo.png"
      alt="Children looking through the grass"
    />
    <img
      src="/images/footer/dr-naomi-fisher-logo-white.svg"
      alt="Dr. Naomi Fisher white logo"
    />

    <ul class="footer-menu footer-menu-A">
      <li>
        <a href="/" target="_blank">Home</a>
      </li>
      <li>
        <a href="/webinars/">Webinars</a>
      </li>
      <li>
        <a href="/courses/">Courses</a>
      </li>
      <li>
        <a href="/books">Books</a>
      </li>
    </ul>

    <ul class="footer-menu footer-menu-B">
      <li>
        <a href="/blog" target="_blank">Blog</a>
      </li>

      <li>
        <a href="/emdr-training" target="_blank">EMDR Training</a>
      </li>

      <li>
        <a href="/about-us" target="_blank">About</a>
      </li>

      <li>
        <a href="/contact" target="_blank">Contact</a>
      </li>
    </ul>

    <button
      class="filter-menu-button"
      id="footer-filter-menu-toggle"
      type="button"
    >
      Search
    </button>

    <div class="smallprint">
      <p>
        &copy; {new Date().getFullYear()} Naomi Fisher Psychology Ltd, all rights
        reserved.
      </p>
      <p>
        (Further small print - terms links etc)
        <p></p>
      </p>
    </div>
  </div>
</footer>
