---
import IconLinks from "./IconLinks.astro";
import Navigation from "./Navigation.astro";
import FilterMenu from "./FilterMenu.astro";

const { active, hideNav } = Astro.props;
---

<header>
  {!hideNav && <IconLinks />}

  <img
    src="/images/header/dr-naomi-fisher-logo.svg"
    alt="Dr. Naomi Fisher white logo"
  />

  <!--{-->
  <!--  (active === "home" || active === "courses") && (-->
  <!--    <a href="#newsletter">-->
  <!--      <div class="promotion-badge">-->
  <!--        <span class="promotion-main"> 25% </span>-->
  <!--        <span class="promotion-sub"> off your first course </span>-->
  <!--        <span class="promotion-details">-->
  <!--          When you sign up to our newsletter-->
  <!--        </span>-->
  <!--      </div>-->
  <!--    </a>-->
  <!--  )-->
  <!--}-->

  {
    active === "home" && (
      <a href="#newsletter">
        <div class="promotion-badge">
          <span class="promotion-main"> KEEP IN </span>
          <span class="promotion-sub"> TOUCH </span>
          <span class="promotion-details"> Sign up</span>
        </div>
      </a>
      <!--<a href="https://courses.naomifisher.co.uk">-->
      <!--  <div class="promotion-badge">-->
      <!--    <span class="promotion-main"> MENTAL </span>-->
      <!--    <span class="promotion-sub"> HEALTH </span>-->
      <!--    <span class="promotion-details"> SALE</span>-->
      <!--  </div>-->
      <!--</a>-->
    )
  }

  {!hideNav && <Navigation active={active} />}
  {!hideNav && <FilterMenu />}
</header>
