---
import IconLinks from "./IconLinks.astro";
import Navigation from "./Navigation.astro";
import FilterMenu from "./FilterMenu.astro";

const { active } = Astro.props;
---

<header>
  <IconLinks />

  <img
    src="/images/header/dr-naomi-fisher-logo.svg"
    alt="Dr. Naomi Fisher white logo"
  />

  <!--{-->
  <!--  (active === "home" || active === "courses") && (-->
  <!--    <a href="#newsletter">-->
  <!--      <div class="promotion-badge">-->
  <!--        <span class="promotion-main"> 25% </span>-->
  <!--        <span class="promotion-sub"> off your first course </span>-->
  <!--        <span class="promotion-details">-->
  <!--          When you sign up to our newsletter-->
  <!--        </span>-->
  <!--      </div>-->
  <!--    </a>-->
  <!--  )-->
  <!--}-->

  <a href="https://courses.naomifisher.co.uk/">
    <div class="promotion-badge">
      <span class="promotion-main"> 50% </span>
      <span class="promotion-sub"> OFF NEW COURSES </span>
      <span class="promotion-details"> Apply coupon NEWCOURSES</span>
    </div>
  </a>

  <Navigation active={active} />

  <FilterMenu />
</header>
