---
import Hamburger from "./Hamburger.astro";
import IconLinks from "./IconLinks.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Picture from "astro/components/Picture.astro";
import logo from "../images/header/dr-naomi-fisher-logo.svg";

const { active } = Astro.props;
---

<!-- <header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header> -->
<header>
  <IconLinks />

  <Picture
    src={logo}
    widths={[240, 540, 720, logo.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${logo.width}px`}
    alt="Dr Naomi Fisher"
    pictureAttributes={{}}
  />

  <Navigation active={active} />
</header>
