<div class="icon-links">
  <ul>
    <button class="filter-menu-button" id="filter-menu-toggle" type="button">
      Search
    </button>
    <a href="https://www.facebook.com/drnaomifisher" target="_blank">
      <li class="facebook-link">Dr Naomi Fisher on Facebook</li>
    </a>
    <a href="https://www.instagram.com/naomicfisher/" target="_blank">
      <li class="instagram-link">Dr Naomi Fisher on Instagram</li>
    </a>
    <a href="https://twitter.com/naomicfisher" target="_blank">
      <li class="x-link">Dr Naomi Fisher on X (Twitter)</li>
    </a>
    <a
      href="https://uk.linkedin.com/in/naomi-fisher-psychologist"
      target="_blank"
    >
      <li class="linkedin-link">Dr Naomi Fisher on LinkedIn</li>
    </a>
  </ul>
</div>
