<div class="icon-links">
  <ul>
    <button class="filter-menu-button" id="filter-menu-toggle" type="button">
      Search
    </button>
    <a href="/basket" class="basket-button">Basket</a>
  </ul>
</div>
