---
import BasketIcon from "./basket/BasketIcon";
---
<div class="icon-links">
  <ul>
    <button class="filter-menu-button" id="filter-menu-toggle" type="button">
      Search
    </button>
      <BasketIcon client:load />
  </ul>
</div>
