---
import WebinarsDropDown from "./navigation/WebinarsDropDown.astro";
import ExternalDropdown from "./navigation/ExternalDropdown.astro";
import ResourcesDropdown from "./navigation/ResourcesDropdown.astro";
import CoursesDropdown from "./navigation/CoursesDropdown.astro";
const { active } = Astro.props;
---

<div id="menu">
  <nav>
    <div class="nav-wrapper">
      <input type="radio" name="slider" id="menu-btn" />
      <input type="radio" name="slider" id="close-btn" />
      <ul class="nav-links">
        <li>
          <a href="/" class={active === "home" ? "active" : "inactive"}>
            Home
          </a>
        </li>
        <!-- <ResourcesDropdown active={active} /> -->
        <WebinarsDropDown active={active} />
        <CoursesDropdown active={active} />
        <li>
          <a href="/books" class={active === "books" ? "active" : "inactive"}>
            Books
          </a>
        </li>

        <li>
          <a href="/podcast" class={active === "podcast" ? "active" : "inactive"}>
            Podcast
          </a>
        </li>

        <li>
          <a href="/blog" class={active === "blog" ? "active" : "inactive"}>
            Substack
          </a>
        </li>

        <ExternalDropdown active={active} />


        <li>
          <a href="/about" class={active === "about" ? "active" : "inactive"}>
            About Us
          </a>
        </li>

        <li class="mobile-item course-login">
          <a
            class="button-link primary"
            href="https://courses.naomifisher.co.uk/login">Course login</a
          >
        </li>


      </ul>
    </div>
  </nav>
</div>
