---
const { active } = Astro.props;
---

<div id="menu">
  <nav>
    <ul>

      <a href="/" class={active === "home" ? "active" : "inactive"}>
        <li>Home</li>
      </a>

      <a href="/webinars" class={active === "webinars" ? "active" : "inactive"}>
        <li>Webinars</li>
      </a>

      <a href="https://courses.naomifisher.co.uk/" class={active === "courses" ? "active" : "inactive"}>
        <li>Courses</li>
      </a>

      <a href="/books" class={active === "books" ? "active" : "inactive"}>
        <li>Books</li>
      </a>

      <a href="/media" class={active === "media" ? "active" : "inactive"}>
        <li>Media</li>
      </a>

      <a
        href="https://www.emdrtraininguk.co.uk/"
        target="_blank"
        class={active === "training" ? "active" : "inactive"}
      >
        <li>EMDR Training</li>
      </a>

      <a href="/about" class={active === "about" ? "active" : "inactive"}>
        <li>About Us</li>
      </a>

      <a href="/blog" class={active === "blog" ? "active" : "inactive"}>
        <li>Blog</li>
      </a>

      <a href="/contact" class={active === "contact" ? "active" : "inactive"}>
        <li>Contact</li>
      </a>
    </ul>
  </nav>

  {active === "courses" &&(
    <a href="https://courses.naomifisher.co.uk/login">
    <div class="sale-badge login-badge">
      <!--<span class="sale-amount">LOGIN</span>-->
      <span class="sale-text">Course</span>
      <span class="sale-text">Login</span>
    </div>
  </a>
  )}

</div>
