---
import WebinarsDropDown from "./navigation/WebinarsDropDown.astro";
import ExternalDropdown from "./navigation/ExternalDropdown.astro";
import ResourcesDropdown from "./navigation/ResourcesDropdown.astro";
import CoursesDropdown from "./navigation/CoursesDropdown.astro";
const { active } = Astro.props;
---

<div id="menu">
  <nav>
    <div class="nav-wrapper">
      <input type="radio" name="slider" id="menu-btn" />
      <input type="radio" name="slider" id="close-btn" />
      <ul class="nav-links">
        <li>
          <a href="/" class={active === "home" ? "active" : "inactive"}>
            Home
          </a>
        </li>
        <ResourcesDropdown />
        <WebinarsDropDown />
        <CoursesDropdown />
        <ExternalDropdown />
        <li>
          <a href="/books" class={active === "books" ? "active" : "inactive"}>
            Books
          </a>
        </li>
        <li>
          <a href="/about" class={active === "about" ? "active" : "inactive"}>
            About
          </a>
        </li>
        <li class="mobile-item">
          <a
            class="button-link primary"
            href="https://courses.naomifisher.co.uk/login">Course login</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
