---
const { active } = Astro.props;
---

<nav>
  <ul>
    <a href="/" class={active === "home" ? "active" : "inactive"}>
      <li>Home</li>
    </a>
    <a href="/webinars" class={active === "webinars" ? "active" : "inactive"}>
      <li>Webinars</li>
    </a>
    <a href="/courses" class={active === "courses" ? "active" : "inactive"}>
      <li>Courses</li>
    </a>
    <a href="/books" class={active === "books" ? "active" : "inactive"}>
      <li>Books</li>
    </a>

    <!-- <a
      href="/for-professionals"
      class={active === "for-professionals" ? "active" : "inactive"}
    >
      <li>For professionals</li>
    </a> -->

    <!-- <a
      href="/consultation"
      class={active === "consultation" ? "active" : "inactive"}
    >
      <li>Consultation</li>
    </a> -->

    <a href="/training" class={active === "training" ? "active" : "inactive"}>
      <li>Training</li>
    </a>

    <a href="/blog" class={active === "blog" ? "active" : "inactive"}>
      <li>Blog</li>
    </a>

    <a href="/about-us" class={active === "about-us" ? "active" : "inactive"}>
      <li>About Us</li>
    </a>

    <a href="/contact" class={active === "contact" ? "active" : "inactive"}>
      <li>Contact</li>
    </a>
  </ul>
</nav>
