---
import { makeUrl } from "../scripts/url";

const { tags = [], uri = 'tags' } = Astro.props;

tags.forEach((t) => {
  console.log("Tag: " + t + " makeUrl: " + makeUrl(t));
});
---

<span class="tags">
  {
    tags.map((tag: string, index: number) => (
      <a href={`/${uri}/${makeUrl(tag)}`}>
        {tag}
        {index + 1 === tags.length ? "" : ","}&nbsp;
      </a>
    ))
  }
</span>
