---
const { embedUrl } = Astro.props;
---

{
  embedUrl && (
    <>
      <h3>Video Introduction</h3>
      <div class="video">
        <iframe
          src={embedUrl}
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        />
      </div>
    </>
  )
}
