.basketWrapper {
  position: relative;
}

.basketCount {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #e53e3e;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-indent: 0;
}