.checkoutContainer {
    width: 100%;
    max-width: 900px;  /* Prevent it from getting too wide on large screens */
    align-self: center;
    background-color: white !important;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
    border-radius: 8px;
    padding: 30px;
    margin: auto;
    box-sizing: border-box; /* Add this to include padding in width calculation */

}

.checkoutForm {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    margin: auto;
}

.checkoutHeading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #30313d;
}

.formField {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.formField label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #30313D;
}

.formField input {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    width: 100%;
}

.formField input:focus {
    border-color: #0055DE;
    box-shadow: 0 0 0 1px #0055DE;
}

.errorMessage {
    color: var(--error-red);    font-size: 14px;
    margin-top: 4px;
}

.fieldError input {
    border: 2px solid var(--error-red);
}

@media only screen and (max-width: 600px) {
    .checkoutForm {
        width: 80vw;
        min-width: initial;
    }
}

.termsLabel {
    display: flex;
    align-items: center;
}

.checkbox {
    margin-bottom: 8px;
}

.checkbox label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    gap: 8px;
}

.termsLabel a {
    margin: 0;  /* Remove all margins */
    color: var(--success-green);
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {
    .checkoutContainer {
        width: 100%;
        padding: 15px; /* Reduce padding for mobile */
    }
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
