---
import BlogSummary from "./BlogSummaryV2.astro";
import { getOrderedPosts } from "../../scripts/blog";

interface Props {
  start: number;
  length: number;
  featured: boolean;
}

const featuredTitles = [
  "Slow Learners",
  "Why I don't tell children they have differently wired brains",
  "How much stress could be avoided...",
  "How Do Children Learn When They Don't Go to School?",
  "Why we need to do better than neuro-affirmation"
];

const posts = await getOrderedPosts();
const { start = 0, length = 4, featured = false } = Astro.props;

const filteredPosts = featured
  ? featuredTitles
    .map((title) => posts.find((p) => p.data.title.trim() === title))
    .filter(Boolean) // remove any titles not found in posts
  : posts;
---

<div class="course-card-grid">
  {
    filteredPosts.slice(start, length).map((post, index) =>
      index != 0 && (index + 1) % 4 == 0 ? (
        <>
          <BlogSummary post={post.data} />
          <iframe
            src="https://naomicfisher.substack.com/embed"
            width="100%"
            height="320"
            style="border:1px solid #EEE; background:white;"
            frameborder="0"
            scrolling="no"
          />
        </>
      ) : (
        <BlogSummary post={post.data} hideDate={featured} />
      ),
    )
  }
</div>
