@use "../mixins.scss" as mix;
footer {
  position: relative;
  margin-top: 140px;

  @media (min-width: 1200px) {
    margin-top: 0;
  }
  .footer-primary {
    position: relative;
    background-color: #387668;
    text-align: center;
    padding-bottom: 12px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      &:first-child {
        height: 200px;
        top: -100px;
        margin-bottom: -86px;
        padding-right: 16px;
        &:nth-child(2) {
          width: 200px;
          padding-right: 16px;
          margin-bottom: 20px;
        }
      }
    }
    a:nth-child(2) img {
      width: 200px;
      padding-right: 16px;
      margin-bottom: 20px;
      top: 0;
      height: auto;
    }
    .footer-menu {
      list-style-type: none;
      display: inline-block;
      width: 150px;
      a {
        color: #fff;
        text-decoration: none;
        letter-spacing: 0.03;
        text-transform: uppercase;
        margin-top: 6px;
        margin-bottom: 6px;
        display: block;
        @include mix.special-text;
      }
      &.footer-menu-B {
        text-align: left;
        margin-left: 16px;
      }
      &.footer-menu-A {
        text-align: right;
        padding-right: 16px;
        border-right: 1px solid #fff;
      }
    }
    .smallprint {
      position: relative;
      padding-left: 20px;
      padding-right: 100px;
      margin-top: 30px;
      opacity: 0.6;
      text-align: left;
      p {
        margin-top: 2px;
        margin-bottom: 2px;
        color: #fff;
        font-size: 11px;
        a {
          color: #fff;
          font-weight: normal;
        }
      }
      @media (min-width: 1200px) {
        padding-left: 100px;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  .filter-menu-button {
    display: none;
    margin-left: auto;
    margin-right: auto;
    border-right: 0px;
    color: white;
    background-image: url(../icon-search-white.svg);
    border: 3px solid white;
    border-radius: 10px;
    padding-left: 36px;
    padding-right: 12px;
    background-position: 10px center;
    margin-top: 20px;
    text-indent: 0px;
    width: auto;
    background-color: #387668;
    z-index: 0;
    @media (min-width: 1200px) {
      display: block;
      z-index: 1;
    }
    &:hover {
      @media (min-width: 1200px) {
        background-position: 10px center;
      }
    }
    .filter-menu-open & {
      background-image: url(//src/styles/icon-search-white-close.svg);
    }
  }
}
