header {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  img {
    display: block;
    height: 60px;
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 15px;
    }
  }
  a {
    text-decoration: none;
  }

  .promotion-badge {
    position: relative;
    background: #5c9d8d;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 17px;
    margin-bottom: -1px;
    @media (min-width: 1200px) {
      z-index: 1000;
      position: absolute;
      top: 7px;
      left: 160px;
      height: 105px;
      width: 105px;
      background: #387668;
      border-radius: 50%;
      border: 4px solid white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20px;
      box-sizing: border-box;
      margin: 0;
    }

    .promotion-details {
      display: block;
      line-height: 1.3;
      margin-top: 5px;
      padding-top: 5px;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
    }

    @media (min-width: 1200px) {
      .promotion-main {
        font-size: 1em;
        line-height: 1;
        font-weight: 400;
      }

      .promotion-sub {
        font-size: 1em;
      }

      .promotion-details {
        line-height: 1.3;
        padding-bottom: 10px;
        margin-top: 6px;
        padding-top: 6px;
      }
    }
  }
}
.icon-links {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid black;
  width: 100%;
  z-index: 10;
  background: #f7f6f5;
  text-align: right;
  z-index: 200;
  @media (min-width: 1200px) {
    position: absolute;
    right: 0px;
    top: 32px;
    border: none;
    backdrop-filter: none;
    background: none;
  }
  a {
    display: inline-block;
    vertical-align: middle;
  }
  ul {
    position: relative;
    li {
      display: inline-block;
      text-indent: -9999px;
      width: 40px;
      height: 40px;
      background-position: center center;
      background-size: auto 20px;
      background-repeat: no-repeat;
      transition: transform ease-in 0.2s;
      text-align: left;
      padding-right: 10px;
    }
  }
  .secondary-icon {
    display: none !important;
  }

  .basket-button {
    display: inline-block;
    text-indent: -9999px;
    width: 70px;
    height: 40px;
    transition: transform ease-in 0.2s;
    text-align: left;
    padding-right: 10px;
    margin-right: 6px;
    border: none;
    background: none;
    background-position: center 8px;
    background-size: auto 28px; /* larger size */
    background-repeat: no-repeat;
    background-image: url(../icon-basket.svg);
    cursor: pointer;
    z-index: 9999;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-size: 1em;
  }

  .basket-button:hover {
    transform: scale(1.1);
  }
}

.filter-menu-button {
  display: inline-block;
  text-indent: -9999px;
  width: 70px;
  height: 40px;
  transition: transform ease-in 0.2s;
  text-align: left;
  padding-right: 10px;
  margin-right: 6px;
  border: none;
  background: none;
  border-right: 1px solid black;
  background-position: center 11px;
  background-size: auto 20px;
  background-repeat: no-repeat;
  background-image: url(../icon-search.svg);
  cursor: pointer;
  z-index: 2000;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 1em;
  @media (min-width: 1200px) {
    padding-right: 20px;
    margin-right: 6px;
    color: black;
    cursor: pointer;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    vertical-align: middle;
    margin-bottom: 0.15em;
    background-position: 4px center;
    //transition: background 0.3s;
    padding-left: 34px;
    width: auto;
    text-indent: 0;
    z-index: 999999;
    position: relative;
  }
  .filter-menu-open & {
    background-image: url(../icon-search-close.svg);
  }
}

// .filter-menu-open .filter-menu-button {
//   background-image: url(../icon-search-close.svg);
// }

.filter-menu-open footer .filter-menu-button {
  background-image: url(icon-search-white-close.svg);
}

footer .filter-menu-button {
  display: none;
  margin-left: auto;
  margin-right: auto;
  border-right: 0px;
  color: white;
  background-image: url(../icon-search-white.svg);
  border: 3px solid white;
  border-radius: 10px;
  padding-left: 36px;
  padding-right: 12px;
  background-position: 10px center;
  margin-top: 20px;
  text-indent: 0px;
  width: auto;
  background-color: #387668;
  z-index: 0;
  @media (min-width: 1200px) {
    display: block;
  }
  .filter-menu-open & {
    background-image: url(../icon-search-close.svg);
  }
}
