.tag-page .page-title {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -58px;
  height: 50px;
  position: relative;
  @media (min-width: 1200px) {
    display: block;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -58px;
    height: 50px;
    position: relative;
  }
}

.tag-page .page-title a {
  display: block;
  position: relative;
  position: absolute;
  top: 0px;
  right: 20px;
  width: auto;
  text-decoration: none;
  @media (min-width: 1200px) {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -26px;
      left: -26px;
      height: 26px;
      width: 26px;
      z-index: 10;
      border-bottom: 4px solid black;
      border-right: 4px solid black;
      border-bottom-right-radius: 26px;
      box-sizing: border-box;
      z-index: 2;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -26px;
      right: -26px;
      height: 26px;
      width: 26px;
      border-bottom: 4px solid black;
      border-left: 4px solid black;
      border-bottom-left-radius: 26px;
      box-sizing: border-box;
      z-index: 2;
    }
  }
}

.tag-page .page-title h1 {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 50px;
  white-space: nowrap;
  padding-left: 36px;
  background-repeat: no-repeat;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -4px;
    left: -23px;
    height: 4px;
    width: calc(100% + 46px);
    z-index: 1;
    box-sizing: border-box;
    background: #f7f6f5;
  }
}

.topic-page .page-title h1 {
  background-size: 16px 16px;
  background-position: 14px 18px;
  background-image: url(../icon-tags.svg);
}

.tag-11-19-yrs,
.tag-5-11-yrs {
  .page-title h1 {
    background-size: 18px 18px;
    background-position: 14px 16px;
    background-image: url(../icon-child.svg);
  }
}

.tag-parents,
.tag-professionals,
.tag-teens {
  .page-title h1 {
    background-size: 16px 16px;
    background-position: 14px 18px;
    background-image: url(../icon-eye.svg);
  }
}
