---
//import "../styles/v1/naomi.css";
// import "../styles/global.css";
import "../styles/naomiStyle.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NaomiStyle from "../styles/naomiStyle.astro";

const { pageTitle, active, tagName, tagUrl } = Astro.props;

const bodyClass = tagName ? "tag-page topic-page" : "category-" + active;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Dr. Naomi Fisher</title>
    <NaomiStyle />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Yanone+Kaffeesatz:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class={bodyClass}>
    <button class="hamburger hamburger--squeeze" id="menu-toggle" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <Header active={active} />

    {
      tagName && tagUrl && (
        <div class="page-title">
          <a href={tagUrl}>
            <h1>{tagName}</h1>
          </a>
        </div>
      )
    }

    <div class="wrapper">
      <slot />
    </div>
    <Footer />
  </body>
</html>
