---
import BaseLayout from "./BaseLayout.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout active="blog">
  <h1>{pageTitle}</h1>
  <div class="blog-nav-links">
    <a href="/blog">Recent articles</a> |
    <a href="/blog-archive">Blog archive</a>
  </div>

  <div class="wrapper">
    <slot />
  </div>
</BaseLayout>
