---
import "../styles/v1/naomi.css";
// import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout active="courses">
  <div class="wrapper">
    <!-- <h1>{pageTitle}</h1> -->

    <slot />
  </div>
</BaseLayout>
