---
import { getCategories } from "../scripts/courseCategories";
import { makeUrl } from "../scripts/url";
import "../styles/v1/naomi.css";
// import "../styles/global.css";
import BaseLayout from "./BaseLayout.astro";

const { pageTitle } = Astro.props;
---

<BaseLayout active="courses">
  <div class="course-nav-links">
    {
      getCategories().map((category) => (
        <>
          <a href={`/courses/categories/${makeUrl(category.name)}`}>
            {category.name}
            {category.subnames.map((subname) => (
              <small>&nbsp;{subname}</small>
            ))}
          </a>
          <span>|</span>
        </>
      ))
    }
  </div>

  <h1>{pageTitle}</h1>

  <div class="wrapper">
    <slot />
  </div>
</BaseLayout>
