---
import BaseLayout from "./BaseLayout.astro";

const { tag, webinars, courses, books, posts } = Astro.props;
---

<BaseLayout>
  {
    tag && (
      <div class="page-title">
        <a href="">
          <h1>{tag}</h1>
        </a>
      </div>
    )
  }
  <div class="wrapper">
    <div class="tag-nav-links">
      {
        webinars.length > 0 && (
          <>
            <a href="#webinars">Webinars</a> |
          </>
        )
      }
      {
        courses.length > 0 && (
          <>
            <a href="#courses">Courses</a> |
          </>
        )
      }
      {
        books.length > 0 && (
          <>
            <a href="#books">Books</a> |
          </>
        )
      }
      {
        posts.length > 0 && (
          <>
            <a href="#blog">Blog posts</a>
          </>
        )
      }
   
    </div>
    <slot />
  </div>
</BaseLayout>
