---
import BaseLayout from "./BaseLayout.astro";

const { tag } = Astro.props;
---

<BaseLayout active="home">
  {
    tag && (
      <div class="page-title">
        <a href="">
          <h1>{tag}</h1>
        </a>
      </div>
    )
  }
  <div class="wrapper">
    <div class="tag-nav-links">
      <a href="#webinars">Webinars</a> |
      <a href="#courses">Courses</a> |
      <a href="#books">Books</a> |
      <a href="#blog">Blog posts</a>
    </div>

    <slot />
  </div>
</BaseLayout>
